Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

feat: add Nx and Turborepo cache providers, fix CI sccache issue
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/vx-providers/nx/Cargo.toml
  crates/vx-providers/nx/lib.rs
  crates/vx-providers/nx/provider.star
  crates/vx-providers/turbo/Cargo.toml
  crates/vx-providers/turbo/lib.rs
  crates/vx-providers/turbo/provider.star
  docs/tools/build-cache.md
  tests/e2e_cache_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: resolve compiler errors in test files
  crates/vx-runtime/tests/constraints_tests.rs
  crates/vx-runtime/tests/manifest_registry_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(runtime): check vx store first in ManifestDrivenRuntime.is_installed() and installed_versions()
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: add workspace-hack deps and remove invalid CI cache parameter
  .github/workflows/ci.yml
  Cargo.lock
  crates/vx-providers/buildcache/Cargo.toml
  crates/vx-providers/ccache/Cargo.toml
  crates/vx-providers/nx/Cargo.toml
  crates/vx-providers/sccache/Cargo.toml
  crates/vx-providers/turbo/Cargo.toml
  crates/workspace-hack/Cargo.toml
Due: prettier

refactor: replace bare .unwrap() with descriptive .expect() in production code
  crates/vx-config/src/config_manager/toml_writer.rs
  crates/vx-paths/src/resolver.rs
  crates/vx-runtime/src/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: improve code quality - replace bare unwrap() with expect/proper error handling
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/src/commands/auth.rs
  crates/vx-cli/src/commands/env/handler.rs
  crates/vx-cli/src/commands/init.rs
  crates/vx-cli/src/commands/list/handler.rs
  crates/vx-cli/src/commands/run.rs
  crates/vx-cli/src/commands/setup.rs
  crates/vx-cli/src/commands/where_cmd.rs
  crates/vx-config/src/container.rs
  crates/vx-console/src/progress.rs
  crates/vx-resolver/src/executor/bin_dir_cache.rs
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/src/executor/installation.rs
  crates/vx-resolver/src/version/solver.rs
  crates/vx-runtime/src/provider_loader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): disable sccache for cross-build Docker containers
  .github/workflows/ci.yml
  Cross.toml
Due: prettier

feat: add new providers, fix CI required checks, update workflows
  .codebuddy/memory/2026-03-20.md
  .codebuddy/memory/2026-03-21.md
  .codebuddy/memory/2026-03-22.md
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/examples-msvc.yml
  .github/workflows/linux-packages.yml
  .github/workflows/maintenance.yml
  .github/workflows/package-managers.yml
  .github/workflows/release.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
  .github/workflows/test-providers.yml.example
  Cargo.lock
  Cargo.toml
  crates/vx-cli/src/commands/init.rs
  crates/vx-cli/src/skills/vx-usage/SKILL.md
  crates/vx-project-analyzer/src/languages/nodejs/rules.rs
  crates/vx-project-analyzer/src/script_parser/registry.rs
  crates/vx-providers/cross/Cargo.toml
  crates/vx-providers/cross/lib.rs
  crates/vx-providers/cross/provider.star
  crates/vx-providers/maturin/provider.star
  crates/vx-providers/openclaw/provider.star
  crates/vx-providers/oxlint/provider.star
  crates/vx-providers/ruff/provider.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix(cross): drop macOS arm64 support — Rosetta 2 not guaranteed on CI
  Cargo.lock
  Cargo.toml
  Cross.toml
  crates/vx-providers/cross/Cargo.toml
  crates/vx-providers/cross/lib.rs
  crates/vx-providers/cross/provider.star
  crates/vx-star-metadata/tests/discovery_tests.rs
  crates/workspace-hack/Cargo.toml
  justfile
  tests/e2e_cache_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve CI failures for openclaw, oxlint, and cross providers
  crates/vx-providers/cross/provider.star
  crates/vx-providers/openclaw/provider.star
  crates/vx-providers/oxlint/provider.star
  vx.lock
Due: none

feat: add vx skill for ClawHub publication
  skills/vx/README.md
  skills/vx/SKILL.md
  skills/vx/vx-commands-reference.md
  skills/vx/vx-project-setup.md
Due: none

fix: CI test failures for cross, openclaw, oxlint providers & add gws provider
  .codebuddy/memory/2026-03-22.md
  crates/vx-cli/src/lib.rs
  crates/vx-ecosystem-pm/src/lib.rs
  crates/vx-providers/cross/provider.star
  crates/vx-providers/gws/provider.star
  crates/vx-providers/openclaw/provider.star
  crates/vx-providers/oxlint/provider.star
  crates/vx-star-metadata/src/discovery.rs
  crates/vx-star-metadata/tests/discovery_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): restore corrupted UTF-8 emoji characters in workflow files
  .github/workflows/examples-msvc.yml
  .github/workflows/maintenance.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
Due: prettier

test: add coverage tests for init detection and ecosystem-pm to improve patch coverage
  crates/vx-cli/tests/init_detection_tests.rs
  crates/vx-ecosystem-pm/tests/lib_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(cross): install lld and cmake for all cross-build targets
  Cross.toml
Due: none

fix(cross): disable aws-lc-sys assembly for cross-compilation targets
  .github/workflows/ci.yml
  Cross.toml
Due: prettier

fix(ci): fix cross-build failures by patching sccache config and enhancing build tools
  .github/workflows/ci.yml
  Cross.toml
Due: prettier

fix(cross): use edge Docker images and remove AWS_LC_SYS_NO_ASM for release builds
  .github/workflows/ci.yml
  Cross.toml
Due: prettier

fix(ci): increase cross-build timeout to 45min for musl static linking
  .github/workflows/ci.yml
Due: prettier

fix(cross): use debug builds for CI cross-compilation to avoid musl timeout
  .github/workflows/ci.yml
  justfile
Due: prettier

fix(cross): use cargo check for CI cross-compilation
  .github/workflows/ci.yml
  justfile
Due: prettier

fix(cross): increase cross-build timeout to 45 min for musl cargo check
  .github/workflows/ci.yml
Due: prettier

fix(ci): remove musl targets from PR cross-build to fix timeout
  .github/workflows/ci.yml
Due: prettier

fix(ci): skip gws provider in CI tests (requires OAuth, incomplete scaffolding)
  .github/scripts/discover-providers.sh
Due: none

chore: code quality improvements - eliminate duplication and improve safety
  crates/vx-cli/src/commands/init.rs
  crates/vx-cli/src/commands/setup.rs
  crates/vx-config/src/config_manager/toml_writer.rs
  crates/vx-config/tests/init_generated_config_tests.rs
  crates/vx-migration/src/migrations/file_rename.rs
  crates/vx-project-analyzer/src/script_parser/registry.rs
  crates/vx-resolver/src/executor/bin_dir_cache.rs
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/src/executor/executor.rs
  crates/vx-resolver/src/executor/mod.rs
  crates/vx-resolver/src/executor/path_builder.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: improve agent knowledge - update provider.star docs, fix tool counts, add creating-provider guide
  AGENTS.md
  crates/vx-cli/src/skills/vx-usage/SKILL.md
  docs/guide/creating-provider.md
  llms-full.txt
  llms.txt
Due: none

ci: add CI gate workflow for release-please PRs
  .github/workflows/ci-release-pr.yml
Due: prettier

docs: improve agent knowledge - update provider count to 78, enhance AGENTS.md, sync skills
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .kiro/skills/vx-usage/SKILL.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  AGENTS.md
  crates/vx-cli/src/skills/vx-usage/SKILL.md
  docs/architecture/OVERVIEW.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/tools/overview.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
  skills/vx/README.md
  skills/vx/SKILL.md
Due: none

docs: improve agent knowledge - update provider count to 78, enhance AGENTS.md, sync skills (#687)
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .kiro/skills/vx-usage/SKILL.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  AGENTS.md
  crates/vx-cli/src/skills/vx-usage/SKILL.md
  docs/architecture/OVERVIEW.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/tools/overview.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
  skills/vx/README.md
  skills/vx/SKILL.md
Due: none
