Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

fix(ui): show Installing feedback during auto-install to avoid perceived hang
  crates/vx-resolver/src/executor/installation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(runtime-core): remove dead Runtime trait and provider machinery
  crates/vx-runtime-core/src/lib.rs
  crates/vx-runtime-core/src/provider.rs
  crates/vx-runtime-core/src/registry.rs
  crates/vx-runtime-core/src/runtime.rs
  crates/vx-runtime-core/src/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(starlark): register all 14 stdlib modules in loader
  crates/vx-starlark/src/loader.rs
  crates/vx-starlark/tests/loader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve CI failures for imagemagick, ffmpeg, rez, bash, make, nasm
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/bash/provider.star
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/make/provider.star
  crates/vx-providers/nasm/provider.star
  crates/vx-providers/rez/provider.star
Due: none

fix: handle VX_VERSION=latest in install scripts
  install.ps1
  install.sh
Due: none

fix(ci): fix discovery parser and CI skip list for Linux/macOS failures
  .codebuddy/memory/2026-03-19.md
  .github/scripts/discover-providers.sh
  crates/vx-providers/pwsh/provider.star
  crates/vx-providers/yq/provider.star
  crates/vx-star-metadata/src/discovery.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-star-metadata/tests/discovery_tests.rs
  crates/vx-star-metadata/tests/metadata_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: add recursive search for bundled executables and remove wrong fallback
  .beads/.gitignore
  .beads/interactions.jsonl
  AGENTS.md
  crates/vx-resolver/src/executor/pipeline/stages/ensure.rs
  crates/vx-resolver/src/executor/pipeline/stages/prepare.rs
  crates/vx-runtime/src/manifest_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve compiler errors in test files
  crates/vx-runtime/tests/constraints_tests.rs
  crates/vx-runtime/tests/manifest_registry_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: add workspace-hack deps and remove invalid CI cache parameter
  .github/workflows/ci.yml
  Cargo.lock
  crates/vx-providers/buildcache/Cargo.toml
  crates/vx-providers/ccache/Cargo.toml
  crates/vx-providers/nx/Cargo.toml
  crates/vx-providers/sccache/Cargo.toml
  crates/vx-providers/turbo/Cargo.toml
  crates/workspace-hack/Cargo.toml
Due: prettier

fix(lint): resolve provider.star lint issues
  crates/vx-providers/7zip/provider.star
  crates/vx-providers/brew/provider.star
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/choco/provider.star
  crates/vx-providers/curl/provider.star
  crates/vx-providers/git/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/hadolint/provider.star
  crates/vx-providers/make/provider.star
  crates/vx-providers/node/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/sccache/provider.star
  crates/vx-providers/systemctl/provider.star
  crates/vx-providers/terraform/provider.star
Due: none

feat: add build cache providers (sccache, ccache, buildcache)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/vx-cli/Cargo.toml
  crates/vx-cli/src/ui.rs
  crates/vx-providers/buildcache/Cargo.toml
  crates/vx-providers/buildcache/lib.rs
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/Cargo.toml
  crates/vx-providers/ccache/lib.rs
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/kubectl/provider.star
  crates/vx-providers/openssl/provider.star
  crates/vx-providers/sccache/Cargo.toml
  crates/vx-providers/sccache/lib.rs
  crates/vx-providers/sccache/provider.star
  crates/workspace-hack/Cargo.toml
  docs/guide/best-practices.md
  docs/tools/build-cache.md
  docs/tools/build-tools.md
  tests/e2e_benchmark_tests.rs
  tests/e2e_uninstall_where_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor: optimize provider.star files using stdlib templates
  crates/vx-providers/bat/provider.star
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/jq/provider.star
  crates/vx-providers/sccache/provider.star
  crates/vx-providers/terraform/provider.star
Due: none

fix: repair provider test resolution and platform gating
  crates/vx-cli/src/commands/install/handler.rs
  crates/vx-cli/src/commands/test/handler.rs
  crates/vx-providers/7zip/provider.star
  crates/vx-providers/brew/provider.star
  crates/vx-providers/buildcache/provider.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: hadolint asset name separator and uvx bundled_with support
  crates/vx-cli/src/registry.rs
  crates/vx-providers/hadolint/provider.star
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/src/provider/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): add sccache setup to all CI workflows
  .github/workflows/codeql.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
Due: prettier

ci: update GitHub Actions to latest versions
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/linux-packages.yml
  .github/workflows/package-managers.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
Due: prettier

fix: flatten InstallLayout JSON so manifest_runtime can read strip_prefix
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/linux-packages.yml
  .github/workflows/package-managers.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
  crates/vx-starlark/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix(providers): resolve CI download URL failures
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/actrun/provider.star
  crates/vx-providers/hadolint/provider.star
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/llvm/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/rez/provider.star
  crates/vx-providers/sccache/provider.star
  crates/vx-providers/spack/provider.star
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/provider.star
Due: none

fix(ci): improve sccache path handling on Windows
  .github/workflows/ci.yml
Due: prettier

fix(cache): skip NeedsInstall results in resolution cache; extend TTL to 24h
  crates/vx-resolver/src/config.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: fix system_install providers and starlark test assertions (round 5)
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/actrun/tests/starlark_logic_tests.rs
  crates/vx-providers/bash/provider.star
  crates/vx-providers/ccache/tests/starlark_logic_tests.rs
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/ffmpeg/tests/starlark_logic_tests.rs
  crates/vx-providers/hadolint/tests/starlark_logic_tests.rs
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/imagemagick/tests/starlark_logic_tests.rs
  crates/vx-providers/make/provider.star
  crates/vx-providers/nasm/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/pnpm/tests/starlark_logic_tests.rs
  crates/vx-providers/pwsh/provider.star
  crates/vx-providers/rcedit/provider.star
  crates/vx-providers/rcedit/tests/starlark_logic_tests.rs
  crates/vx-providers/vcpkg/tests/starlark_logic_tests.rs
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/tests/starlark_logic_tests.rs
  crates/vx-starlark/src/provider/execute.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

ci: tighten workflow gates and migrate provider discovery
  .github/scripts/discover-providers.sh
  .github/workflows/ci.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
  crates/vx-star-metadata/Cargo.toml
  crates/vx-star-metadata/src/bin/discover_providers.rs
  crates/vx-star-metadata/src/discovery.rs
  crates/vx-star-metadata/src/lib.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-star-metadata/tests/discovery_tests.rs
  crates/vx-star-metadata/tests/metadata_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: replace all ctx.http.get_json with fetch_json_versions descriptors in provider.star files
  crates/vx-providers/dotnet/provider.star
  crates/vx-providers/gcloud/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/java/provider.star
  crates/vx-providers/jq/provider.star
  crates/vx-providers/node/provider.star
  crates/vx-providers/uv/provider.star
  crates/vx-providers/vite/provider.star
  crates/vx-providers/vscode/provider.star
Due: none

fix: use bin/bash.exe for git-bash instead of git-bash.exe --attach
  crates/vx-cli/src/lib.rs
  crates/vx-providers/git/provider.star
  docs/cli/implicit-package-execution.md
  docs/zh/cli/implicit-package-execution.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(versions): case-insensitive Ecosystem deserialization for vx.lock compatibility
  crates/vx-versions/src/ecosystem.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ai): fix skills format and install all 5 skills on setup
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/src/skills/vx-best-practices/SKILL.md
  crates/vx-cli/src/skills/vx-commands/SKILL.md
  crates/vx-cli/src/skills/vx-project/SKILL.md
  crates/vx-cli/src/skills/vx-troubleshooting/SKILL.md
  crates/vx-cli/src/skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(7zip): fix executable name and system_paths to point to binary file
  crates/vx-providers/7zip/provider.star
Due: none

fix: improve installer fallback and mirror release support
  README.md
  README_zh.md
  docs/guides/github-action.md
  install.ps1
  install.sh
Due: none

fix: align starlark mock signatures with stdlib and fix provider tests
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/docker/tests/starlark_logic_tests.rs
  crates/vx-providers/gh/provider.star
  crates/vx-providers/msvc/tests/starlark_logic_tests.rs
  crates/vx-providers/node/provider.star
  crates/vx-starlark/src/test_mocks.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: remove obsolete promo video project
  vx-promo-video/.gitignore
  vx-promo-video/DEV_NOTES.md
  vx-promo-video/README.md
  vx-promo-video/package-lock.json
  vx-promo-video/package.json
  vx-promo-video/remotion.config.ts
  vx-promo-video/src/FullVideo.tsx
  vx-promo-video/src/Root.tsx
  vx-promo-video/src/components/AnimationUtils.tsx
  vx-promo-video/src/components/AudioComponents.tsx
  vx-promo-video/src/components/Background.tsx
  vx-promo-video/src/components/CodeBlock.tsx
  vx-promo-video/src/components/FloatingLogos.tsx
  vx-promo-video/src/components/GlowEffects.tsx
  vx-promo-video/src/components/ParticleField.tsx
  vx-promo-video/src/components/ProviderLogos.tsx
  vx-promo-video/src/components/TerminalAnimation.tsx
  vx-promo-video/src/components/TextEffects.tsx
  vx-promo-video/src/components/Title.tsx
  vx-promo-video/src/components/Transitions.tsx
  vx-promo-video/src/fonts.ts
  vx-promo-video/src/scenes/CallToActionScene.tsx
  vx-promo-video/src/scenes/FeaturesScene.tsx
  vx-promo-video/src/scenes/IntroScene.tsx
  vx-promo-video/src/scenes/MCPScene.tsx
  vx-promo-video/src/scenes/ProblemScene.tsx
  vx-promo-video/src/scenes/ProvidersScene.tsx
  vx-promo-video/src/scenes/SolutionScene.tsx
  vx-promo-video/tsconfig.json
Due: none
