Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

fix(tests): fix output_tests and info_tests failures in non-TTY CI
  crates/vx-cli/tests/info_tests.rs
  crates/vx-cli/tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(cli): Agent DX improvements for AI agents
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/handler.rs
  crates/vx-cli/src/commands/input_validation.rs
  crates/vx-cli/src/commands/mod.rs
  crates/vx-cli/src/commands/schema.rs
  crates/vx-cli/src/output/mod.rs
  docs/guide/agent-dx.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: add CLAUDE.md, .cursor/rules/*.mdc, and improve AI agent documentation
  .agents/skills/vx-best-practices/SKILL.md
  .claude/skills/vx-best-practices/SKILL.md
  .cline/skills/vx-best-practices/SKILL.md
  .codebuddy/skills/vx-best-practices/SKILL.md
  .cursor/rules/vx-core.mdc
  .cursor/rules/vx-providers.mdc
  .cursor/rules/vx-testing.mdc
  .cursor/skills/vx-best-practices/SKILL.md
  .cursorrules
  .kiro/skills/vx-best-practices/SKILL.md
  .opencode/skills/vx-best-practices/SKILL.md
  .roo/skills/vx-best-practices/SKILL.md
  .trae/skills/vx-best-practices/SKILL.md
  .windsurf/skills/vx-best-practices/SKILL.md
  AGENTS.md
  CLAUDE.md
  llms-full.txt
  llms.txt
  skills/README.md
  skills/vx-best-practices/SKILL.md
Due: none

docs: add CLAUDE.md, .cursor/rules/*.mdc, and improve AI agent documentation (#747)
  .agents/skills/vx-best-practices/SKILL.md
  .claude/skills/vx-best-practices/SKILL.md
  .cline/skills/vx-best-practices/SKILL.md
  .codebuddy/skills/vx-best-practices/SKILL.md
  .cursor/rules/vx-core.mdc
  .cursor/rules/vx-providers.mdc
  .cursor/rules/vx-testing.mdc
  .cursor/skills/vx-best-practices/SKILL.md
  .cursorrules
  .kiro/skills/vx-best-practices/SKILL.md
  .opencode/skills/vx-best-practices/SKILL.md
  .roo/skills/vx-best-practices/SKILL.md
  .trae/skills/vx-best-practices/SKILL.md
  .windsurf/skills/vx-best-practices/SKILL.md
  AGENTS.md
  CLAUDE.md
  llms-full.txt
  llms.txt
  skills/README.md
  skills/vx-best-practices/SKILL.md
Due: none

feat(rfc-0040): implement version_info() for toolchain version indirection
  .codebuddy/automations/automation-4/memory.md
  .codebuddy/automations/vx/memory.md
  crates/vx-cli/src/commands/lock.rs
  crates/vx-providers/rust/provider.star
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/src/runtime/mod.rs
  crates/vx-runtime/src/types.rs
  crates/vx-runtime/tests/version_info_tests.rs
  crates/vx-starlark/src/provider/bridge.rs
  crates/vx-starlark/src/provider/builder.rs
  crates/vx-starlark/src/provider/execute.rs
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/src/provider/types.rs
  docs/rfcs/0040-toolchain-version-indirection.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(cli): fix vx check system_fallback and vx lock for installed tools
  Cargo.lock
  crates/vx-cli/src/commands/check.rs
  crates/vx-cli/src/commands/common.rs
  crates/vx-cli/src/commands/lock.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): handle skipped/cancelled jobs in CI Success gate
  .github/workflows/ci.yml
Due: prettier

fix: handle JSON output in where command e2e tests
  tests/e2e_uninstall_where_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test(rfc-0040): add 49 version_info tests + update RFC checklist
  .config/nextest.toml
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/list/args.rs
  crates/vx-cli/src/commands/list/handler.rs
  crates/vx-cli/src/system_tools.rs
  crates/vx-cli/tests/cli_integration_tests.rs
  crates/vx-cli/tests/cli_parsing_tests.rs
  crates/vx-providers/rust/provider.star
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/tests/version_info_tests.rs
  crates/vx-starlark/tests/version_info_tests.rs
  docs/rfcs/0040-toolchain-version-indirection.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: enhance AI agent ecosystem with 15+ agent support
  .agents/skills/vx-best-practices/SKILL.md
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-best-practices/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-best-practices/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .cursor/rules/vx-core.mdc
  .cursor/rules/vx-mcp.mdc
  .cursor/skills/vx-best-practices/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .cursorrules
  .github/copilot-instructions.md
  .kiro/skills/vx-best-practices/SKILL.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-best-practices/SKILL.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-best-practices/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-best-practices/SKILL.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-best-practices/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  .windsurfrules
  AGENTS.md
  CLAUDE.md
  llms.txt
  skills/README.md
  skills/vx-best-practices/SKILL.md
  skills/vx-usage/SKILL.md
Due: none

docs: enhance AI agent ecosystem with 15+ agent support (#749)
  .agents/skills/vx-best-practices/SKILL.md
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-best-practices/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-best-practices/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .cursor/rules/vx-core.mdc
  .cursor/rules/vx-mcp.mdc
  .cursor/skills/vx-best-practices/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .cursorrules
  .github/copilot-instructions.md
  .kiro/skills/vx-best-practices/SKILL.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-best-practices/SKILL.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-best-practices/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-best-practices/SKILL.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-best-practices/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  .windsurfrules
  AGENTS.md
  CLAUDE.md
  llms.txt
  skills/README.md
  skills/vx-best-practices/SKILL.md
  skills/vx-usage/SKILL.md
Due: none

chore(deps): upgrade dependencies
  Cargo.lock
  Cargo.toml
  crates/vx-args/Cargo.toml
  crates/vx-config/Cargo.toml
  crates/vx-console/Cargo.toml
  crates/vx-installer/Cargo.toml
  crates/vx-system-pm/Cargo.toml
Due: none

fix(vx-config): fix sha2 GenericArray LowerHex compile error
  crates/vx-config/src/inheritance.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve sha2 LowerHex compile errors and upgrade GitHub Actions
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/examples-msvc.yml
  .github/workflows/linux-packages.yml
  .github/workflows/maintenance.yml
  .github/workflows/package-managers.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  Cargo.lock
  crates/vx-cli/src/commands/self_update.rs
  crates/vx-installer/src/downloader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

docs: optimize agent docs for v0.8.20 — add Copilot instructions, expand AI agent support to 17+
  .codebuddy/skills/vx-best-practices/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/rules/vx-core.mdc
  .cursorrules
  .github/copilot-instructions.md
  .github/instructions/rust-code.instructions.md
  .github/instructions/starlark-providers.instructions.md
  .github/instructions/testing.instructions.md
  .kiro/steering/vx-project.md
  .trae/rules/vx-project.md
  .windsurfrules
  AGENTS.md
  CLAUDE.md
  llms.txt
  skills/README.md
Due: none

docs: optimize agent docs for v0.8.20 — add Copilot instructions, expand AI agent support to 17+ (#762)
  .codebuddy/skills/vx-best-practices/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/rules/vx-core.mdc
  .cursorrules
  .github/copilot-instructions.md
  .github/instructions/rust-code.instructions.md
  .github/instructions/starlark-providers.instructions.md
  .github/instructions/testing.instructions.md
  .kiro/steering/vx-project.md
  .trae/rules/vx-project.md
  .windsurfrules
  AGENTS.md
  CLAUDE.md
  llms.txt
  skills/README.md
Due: none

fix: gracefully resolve numeric version hints for pure opaque providers
  crates/vx-installer/src/downloader.rs
  crates/vx-versions/src/resolver/opaque.rs
  crates/vx-versions/tests/opaque_resolver_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: propagate explicit version from bundled runtime to parent dependency
  crates/vx-cli/src/cli.rs
  crates/vx-installer/src/downloader.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  docs/guide/command-syntax-rules.md
  docs/zh/guide/command-syntax-rules.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test(vx-installer): add unit tests for calculate_sha256 and parse_content_disposition
  crates/vx-installer/src/downloader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: propagate explicit version from bundled runtime to parent dependency (#766)
  crates/vx-cli/src/cli.rs
  crates/vx-installer/src/downloader.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  docs/guide/command-syntax-rules.md
  docs/zh/guide/command-syntax-rules.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

