Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

fix(ci): use vx cargo prefix in justfile recipes for CI compatibility
  justfile
Due: none

fix(ci): replace remaining vx run cargo scripts with direct vx cargo calls
  justfile
Due: none

refactor: use LazyLock for regex compilation and improve error handling
  Cargo.lock
  crates/vx-args/src/interpolation.rs
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/test/handler.rs
  crates/vx-config/src/remote.rs
  crates/vx-config/src/team.rs
  crates/vx-env/Cargo.toml
  crates/vx-env/src/spawner.rs
  crates/vx-project-analyzer/src/languages/cpp/dependencies.rs
  crates/vx-project-analyzer/src/languages/dotnet/dependencies.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: improve AI agent documentation and fix version inconsistencies
  AGENTS.md
  README.md
  README_zh.md
  llms-full.txt
  llms.txt
  skills/README.md
  skills/vx-commands/SKILL.md
  skills/vx-troubleshooting/SKILL.md
Due: none

docs: improve AI agent documentation and fix version inconsistencies (#710)
  AGENTS.md
  README.md
  README_zh.md
  llms-full.txt
  llms.txt
  skills/README.md
  skills/vx-commands/SKILL.md
  skills/vx-troubleshooting/SKILL.md
Due: none

refactor: improve code safety by eliminating unsafe unwrap calls
  crates/vx-cli/src/commands/container.rs
  crates/vx-cli/src/commands/hook.rs
  crates/vx-cli/src/commands/init.rs
  crates/vx-cli/src/commands/setup.rs
  crates/vx-cli/src/ui.rs
  crates/vx-console/src/progress.rs
  crates/vx-metrics/src/init.rs
  crates/vx-metrics/src/visualize.rs
  crates/vx-runtime/src/package_runtime.rs
  crates/vx-setup/src/pipeline/executor.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): exclude vx-msbuild-bridge from cargo-dist & improve skills sync
  .github/workflows/sync-skills.yml
  crates/vx-msbuild-bridge/Cargo.toml
Due: prettier

refactor: improve code quality - replace unwrap() and eprintln! with proper error handling
  Cargo.lock
  crates/vx-bridge/Cargo.toml
  crates/vx-bridge/src/config.rs
  crates/vx-bridge/src/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: make E2E version list tests resilient to transient network errors
  tests/e2e_install_tests.rs
  vx.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor: improve code safety and remove dead code
  crates/vx-cli/src/commands/hook.rs
  crates/vx-cli/src/commands/run.rs
  crates/vx-env/src/words.rs
  crates/vx-extension/src/executor.rs
  crates/vx-metrics/src/visualize.rs
  crates/vx-resolver/src/executor/mod.rs
  crates/vx-resolver/src/executor/path_builder.rs
  crates/vx-resolver/src/resolution_cache.rs
  crates/vx-runtime-http/src/installer.rs
  crates/vx-shim/src/executor.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-system-pm/src/managers/homebrew.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): prevent duplicate release-please PRs on release merge
  .github/workflows/release-please.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
Due: prettier

fix(dist): exclude vx-star-metadata from cargo-dist release artifacts
  crates/vx-star-metadata/Cargo.toml
Due: none

fix(ci): include Cargo.lock in workspace-hack commit step
  .github/workflows/ci.yml
Due: prettier

fix(ci): split release-please into two jobs to fix tag creation
  .github/workflows/release-please.yml
Due: prettier

fix: preserve Rust MSRV in vx.toml and enable passthrough for Rust ecosystem
  Cargo.lock
  crates/vx-cli/src/commands/init.rs
  crates/vx-cli/src/commands/lock.rs
  crates/vx-cli/tests/init_detection_tests.rs
  tests/e2e_lock_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests
