Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

fix: resolve Clippy warnings in vx-output-filter
  crates/vx-output-filter/src/filter.rs
  crates/vx-output-filter/src/rules.rs
  crates/vx-output-filter/src/stream.rs
  crates/vx-output-filter/tests/filter_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add vx-output-filter crate for compact subprocess output (#802)
  .codebuddy/automations/vx-docs/memory.md
  Cargo.lock
  Cargo.toml
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/execute.rs
  crates/vx-cli/src/output/mod.rs
  crates/vx-console/src/format.rs
  crates/vx-output-filter/Cargo.toml
  crates/vx-output-filter/src/filter.rs
  crates/vx-output-filter/src/lib.rs
  crates/vx-output-filter/src/rules.rs
  crates/vx-output-filter/src/stream.rs
  crates/vx-output-filter/tests/filter_tests.rs
  crates/vx-resolver/Cargo.toml
  crates/vx-resolver/src/executor/command.rs
  crates/vx-resolver/src/executor/executor.rs
  crates/vx-resolver/src/executor/pipeline/plan.rs
  crates/vx-resolver/src/executor/pipeline/stages/execute.rs
  crates/vx-resolver/src/executor/pipeline/stages/prepare.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  vx.lock
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(vx-output-filter): add FilterLevel enum (Light/Normal/Aggressive)
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/lib.rs
  crates/vx-output-filter/src/filter.rs
  crates/vx-output-filter/src/lib.rs
  crates/vx-output-filter/tests/filter_tests.rs
  crates/vx-resolver/src/executor/executor.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
Due: none

feat: add FilterLevel enum (Light/Normal/Aggressive) for compact output (#804)
  Cargo.lock
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/lib.rs
  crates/vx-output-filter/src/filter.rs
  crates/vx-output-filter/src/lib.rs
  crates/vx-output-filter/tests/filter_tests.rs
  crates/vx-resolver/src/executor/executor.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: git uses MinGit ZIP on Windows, rust toolchain defaults to stable
  Cargo.lock
  crates/vx-providers/git/provider.star
  crates/vx-providers/rust/provider.star
Due: none

fix(ci): switch apt mirror to azure.archive.ubuntu.com for cross builds
  Cross.toml
Due: none

feat: change non-TTY default output from JSON to Toon, disable CDN by default
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/output/mod.rs
  crates/vx-cli/tests/output_tests.rs
  crates/vx-runtime-http/src/http_client.rs
  install.ps1
  install.sh
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(docker): switch apt mirror to azure.archive.ubuntu.com in Dockerfiles and test workflow
  .github/workflows/test-docker.yml
  pkg/docker/Dockerfile.prebuilt
  pkg/docker/Dockerfile.tools
Due: prettier

fix: unify config and check output handling
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/check.rs
  crates/vx-cli/src/commands/config.rs
  crates/vx-cli/src/lib.rs
  crates/vx-cli/src/ui.rs
  crates/vx-cli/tests/cli_integration_tests.rs
  crates/vx-cli/tests/common/mod.rs
  crates/vx-cli/tests/project_context/mod.rs
  crates/vx-resolver/src/executor/bin_dir_cache.rs
  crates/vx-resolver/src/executor/installation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test(git): update starlark tests to expect MinGit ZIP instead of PortableGit 7z.exe
  crates/vx-providers/git/tests/starlark_logic_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: git uses MinGit ZIP on Windows, rust toolchain defaults to stable
  crates/vx-providers/git/provider.star
  crates/vx-providers/rust/provider.star
Due: none

refactor: unify progress bars and restructure docs progressively
  AGENTS.md
  crates/vx-cli/src/ui.rs
  crates/vx-console/src/progress.rs
  crates/vx-console/tests/progress_tests.rs
  docs/guide/provider-star-core-api.md
  docs/guide/provider-star-language.md
  docs/guide/provider-star-layouts.md
  docs/guide/provider-star-reference.md
  docs/guide/provider-star-stdlib.md
  llms-full.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor: unify progress bars and restructure docs progressively (#812)
  AGENTS.md
  Cargo.lock
  crates/vx-cli/src/ui.rs
  crates/vx-console/src/progress.rs
  crates/vx-console/tests/progress_tests.rs
  docs/guide/provider-star-core-api.md
  docs/guide/provider-star-language.md
  docs/guide/provider-star-layouts.md
  docs/guide/provider-star-reference.md
  docs/guide/provider-star-stdlib.md
  llms-full.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests
