Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

feat(headroom): implement proxy lifecycle management
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/ai.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(headroom): add libc dependency for unix builds
  crates/vx-cli/Cargo.toml
Due: none

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
Due: none

feat(headroom): implement MCP config setup for AI agents
  crates/vx-cli/src/commands/ai.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(headroom): reject invalid JSON configs, surface write errors
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/tests/headroom_setup_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(ai): add vx ai headroom CLI skeleton with bridge runner
  crates/vx-cli/src/commands/ai.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(headroom): correct install syntax, ensure --json is machine-readable, add CLI tests
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/tests/headroom_cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(providers): use vx-org/mirrors as stable download source
  crates/vx-providers/conda/provider.star
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/gcloud/provider.star
  crates/vx-providers/python/provider.star
  crates/vx-providers/python/tests/starlark_logic_tests.rs
  crates/vx-providers/vault/provider.star
  crates/vx-providers/witr/provider.star
  crates/vx-providers/zig/provider.star
  crates/vx-starlark/stdlib/github.star
  crates/vx-starlark/stdlib/http.star
  crates/vx-starlark/stdlib/layout.star
  crates/vx-starlark/stdlib/provider.star
  crates/vx-starlark/stdlib/provider_templates.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(headroom): replace process::exit with error propagation, fix setup flag semantics
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/ai.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(ai): add vx ai headroom CLI skeleton with bridge runner (#962)
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/tests/headroom_cli_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

ci: prefer PERSONAL_ACCESS_TOKEN over GITHUB_TOKEN for release-please
  .github/workflows/release-please.yml
Due: prettier

feat: migrate hugo provider to github_smart_provider (PIP-558)
  crates/vx-providers/hugo/provider.star
  crates/vx-starlark/stdlib/smart_detect.star
  crates/vx-starlark/tests/hugo_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(providers): add sentry-cli provider (getsentry/sentry-cli)
  crates/vx-providers/sentry-cli/provider.star
Due: none

fix(headroom): address code-review feedback for proxy lifecycle
  crates/vx-cli/src/commands/ai.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(headroom): correct vx bridge path, move tests to integration dir
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/tests/headroom_proxy_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(headroom): harden doctor JSON and health checks
  crates/vx-cli/src/commands/ai.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(headroom): use --from headroom-ai[proxy] for correct package resolution
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/tests/headroom_proxy_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(headroom): implement doctor MCP checks and smoke test harness (PIP-603)
  crates/vx-cli/src/commands/ai.rs
  scripts/headroom/serve_mcp_http.py
  scripts/headroom/smoke_test.ps1
  scripts/headroom/smoke_test.sh
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(release): add retry logic to cargo-dist install steps (PIP-1133)
  .github/workflows/release.yml
Due: prettier

fix(release): use Get-Command instead of $LASTEXITCODE for Windows cargo-dist retry
  .github/workflows/release.yml
Due: prettier

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

