Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

ci: optimize sccache cache strategy for better hit rate
  .github/workflows/ci.yml
Due: prettier

perf: optimize test and build configuration
  .github/workflows/ci.yml
  Cargo.toml
  justfile
Due: prettier

docs: add pre-commit hooks documentation (EN/ZH) and update contributing guides
  .pre-commit-config.yaml
  docs/advanced/contributing.md
  docs/advanced/pre-commit-hooks.md
  docs/zh/advanced/contributing.md
  docs/zh/advanced/pre-commit-hooks.md
  justfile
Due: prettier

docs: add llms.txt and llms-full.txt following llmstxt.org protocol
  llms-full.txt
  llms.txt
Due: none

docs: sync zh contributing.md and add zh fixes docs
  .codebuddy/commands/update-llms-txt.md
  docs/zh/advanced/contributing.md
  docs/zh/fixes/macos-sevenz-build-fix.md
Due: none

fix: change internal rustup/toolchain debug logs to trace level
  crates/vx-cli/tests/cli_integration_tests.rs
  crates/vx-providers/rust/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(tests): add missing OutputFormat argument to handle_list calls
  crates/vx-cli/tests/cli_integration_tests.rs
  crates/vx-providers/bun/tests/runtime_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs(cargo): add fast build optimizations inspired by Bevy
  .cargo/config.toml
Due: none

fix(cli): add --toon shortcut flag for TOON output format
  crates/vx-cli/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

security(ai): fully redact session ID to prevent any information leakage
  crates/vx-cli/src/commands/ai.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

security(ai): mask session ID in status output to prevent credential exposure
  crates/vx-cli/src/commands/ai.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(ai): implement RFC 0035 AI integration optimization
  Cargo.lock
  crates/vx-cli/Cargo.toml
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/src/commands/check.rs
  crates/vx-cli/src/commands/fetch.rs
  crates/vx-cli/src/commands/list/handler.rs
  crates/vx-cli/src/commands/where_cmd.rs
  crates/vx-cli/src/output.rs
  crates/vx-cli/src/output/mod.rs
  crates/vx-cli/src/output/types.rs
  crates/vx-cli/src/skills/vx-best-practices/SKILL.md
  crates/vx-cli/src/skills/vx-commands/SKILL.md
  crates/vx-cli/src/skills/vx-project/SKILL.md
  crates/vx-cli/src/skills/vx-troubleshooting/SKILL.md
  crates/vx-providers/bun/Cargo.toml
  crates/vx-providers/bun/src/runtime.rs
  crates/vx-providers/bun/tests/runtime_tests.rs
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/shim.rs
  docs/rfcs/0035-ai-integration-optimization.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

ci(pre-commit): add cargo check --tests to catch test compilation errors
  .pre-commit-config.yaml
Due: prettier

docs(rfc): add RFC 0036 - Starlark Provider Support
  docs/rfcs/0036-starlark-provider-support.md
Due: none

docs(rfc): update RFC 0036 v0.3 - add Buck2 typed provider_field, load() module system, incremental analysis cache, declarative actions
  Cargo.toml
  crates/vx-cli/Cargo.toml
  crates/vx-cli/src/registry.rs
  crates/vx-providers/jj/Cargo.toml
  crates/vx-providers/jj/provider.toml
  crates/vx-providers/jj/src/config.rs
  crates/vx-providers/jj/src/lib.rs
  crates/vx-providers/jj/src/provider.rs
  crates/vx-providers/jj/src/runtime.rs
  crates/vx-providers/jj/tests/runtime_tests.rs
  crates/vx-starlark/Cargo.toml
  crates/vx-starlark/src/context.rs
  crates/vx-starlark/src/error.rs
  crates/vx-starlark/src/lib.rs
  crates/vx-starlark/src/provider.rs
  crates/vx-starlark/src/sandbox.rs
  crates/vx-starlark/src/stdlib.rs
  docs/rfcs/0036-starlark-provider-support.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(vx-starlark): implement Phase 2 Starlark execution engine
  Cargo.lock
  crates/vx-providers/jj/provider.toml
  crates/vx-providers/jj/src/config.rs
  crates/vx-providers/jj/src/runtime.rs
  crates/vx-providers/jj/tests/runtime_tests.rs
  crates/vx-starlark/Cargo.toml
  crates/vx-starlark/src/context.rs
  crates/vx-starlark/src/engine.rs
  crates/vx-starlark/src/lib.rs
  crates/vx-starlark/src/loader.rs
  crates/vx-starlark/src/provider.rs
  crates/vx-starlark/src/sandbox.rs
  crates/vx-starlark/src/stdlib.rs
  crates/vx-starlark/stdlib/http.star
  crates/vx-starlark/stdlib/platform.star
  crates/vx-starlark/stdlib/semver.star
  crates/vx-starlark/tests/context_tests.rs
  crates/vx-starlark/tests/provider_tests.rs
  crates/vx-starlark/tests/sandbox_tests.rs
  crates/vx-starlark/tests/stdlib_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(vx-starlark): Phase 2 - integrate starlark-rust execution engine
  crates/vx-starlark/src/engine.rs
  crates/vx-starlark/tests/engine_tests.rs
  crates/vx-starlark/tests/loader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

