Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

fix(ci): use system cargo directly instead of vx cargo
  .github/workflows/ci.yml
Due: prettier

fix(cache): skip NeedsInstall results in resolution cache; extend TTL to 24h
  crates/vx-resolver/src/config.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(manifest-runtime): override resolve_version to return 'system' for system tools
  crates/vx-runtime/src/manifest_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: prevent bundled runtime executable misresolution (npm->node)
  crates/vx-resolver/src/executor/pipeline/stages/ensure.rs
  crates/vx-resolver/src/executor/pipeline/stages/prepare.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve macOS CI failures for ffmpeg and imagemagick
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/imagemagick/provider.star
Due: none

ci: fix hakari workspace checks and test timeouts
  .gitattributes
  .github/workflows/ci.yml
  crates/workspace-hack/Cargo.toml
Due: prettier

fix: replace all ctx dict access with struct attribute access in provider star files
  crates/vx-providers/dotnet/provider.star
  crates/vx-providers/gcloud/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/java/provider.star
  crates/vx-providers/jq/provider.star
  crates/vx-providers/nasm/provider.star
  crates/vx-providers/ninja/provider.star
  crates/vx-providers/node/provider.star
  crates/vx-providers/nuget/provider.star
  crates/vx-providers/ollama/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/systemctl/provider.star
  crates/vx-providers/vite/provider.star
  crates/vx-providers/vscode/provider.star
  crates/vx-starlark/tests/engine_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(runtime): check vx store first in ManifestDrivenRuntime.is_installed() and installed_versions()
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(env,version-fetcher): eliminate platform/version utils duplication
  crates/vx-env/Cargo.toml
  crates/vx-env/src/tool_env.rs
  crates/vx-version-fetcher/Cargo.toml
  crates/vx-version-fetcher/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: fix PSReadLine cursor positioning issue in PowerShell prompt
  crates/vx-cli/src/commands/dev/export.rs
  crates/vx-env/assets/shell/powershell_init.ps1
  crates/vx-env/src/shell/powershell.rs
  crates/vx-env/src/spawner.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve CI failures for yq, wix, xmake, vcpkg providers
  .codebuddy/memory/2026-03-19.md
  Cargo.lock
  crates/vx-cli/src/commands/test/handler.rs
  crates/vx-providers/vcpkg/provider.star
  crates/vx-providers/wix/provider.star
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/provider.star
  crates/vx-starlark/src/provider/execute.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: propagate locked version to bundled runtime dependencies
  .github/workflows/ci.yml
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/runtime_index.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix(starlark): register all 14 stdlib modules in loader
  crates/vx-starlark/src/loader.rs
  crates/vx-starlark/tests/loader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): increase Windows timeout to prevent CI failures
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  crates/vx-cli/src/system_tools.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: exclude vx-star-metadata from cargo-hakari workspace-hack
  .config/hakari.toml
Due: none

feat: add Nx and Turborepo cache providers, fix CI sccache issue
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/vx-providers/nx/Cargo.toml
  crates/vx-providers/nx/lib.rs
  crates/vx-providers/nx/provider.star
  crates/vx-providers/turbo/Cargo.toml
  crates/vx-providers/turbo/lib.rs
  crates/vx-providers/turbo/provider.star
  docs/tools/build-cache.md
  tests/e2e_cache_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix(ci): install sccache in quick-test job
  .github/workflows/test-providers.yml
Due: prettier

feat(resolver): implement version priority with vx.lock support
  crates/vx-resolver/src/executor/pipeline/plan.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/executor/project_config.rs
  crates/vx-resolver/tests/project_config_tests.rs
  tests/e2e_cache_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: update rules to reflect provider.star migration
  .codebuddy/rules/Provider开发指南.mdc
  .codebuddy/rules/no-provider-platform-constraint-key.mdc
  .codebuddy/rules/vx-best-practices.mdc
  .codebuddy/rules/动态执行器.mdc
  .codebuddy/rules/存储架构.mdc
  .codebuddy/rules/项目架构.mdc
Due: none

docs: add Starlark Providers advanced guide (bilingual)
  docs/guide/manifest-driven-providers.md
  docs/guide/starlark-providers.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/guide/starlark-providers.md
Due: none

fix: resolve Linux CI failures for ffplay/ffprobe/gofmt/lld/xmake/yq
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/llvm/provider.star
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/provider.star
Due: none

refactor(runtime): split runtime.rs into module and add ISP sub-traits
  crates/vx-runtime/src/context.rs
  crates/vx-runtime/src/github.rs
  crates/vx-runtime/src/impls/path_provider.rs
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/manifest_runtime.rs
  crates/vx-runtime/src/provider.rs
  crates/vx-runtime/src/provider_env.rs
  crates/vx-runtime/src/runtime/mod.rs
  crates/vx-runtime/src/runtime/subtrait.rs
  crates/vx-runtime/src/testing.rs
  crates/vx-runtime/src/traits.rs
  crates/vx-runtime/tests/manifest_split_tests.rs
  crates/vx-runtime/tests/registry_tests.rs
  crates/vx-runtime/tests/runtime_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve CI errors
  .github/workflows/benchmark.yml
  .github/workflows/docs.yml
  crates/vx-providers/node/tests/runtime_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix(ui): show Installing feedback during auto-install to avoid perceived hang
  crates/vx-resolver/src/executor/installation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(list): sort tool list alphabetically (a-z)
  crates/vx-cli/src/commands/list/handler.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(resolver): integrate ResolutionCache into execution pipeline
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/src/executor/executor.rs
  crates/vx-resolver/src/executor/mod.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/lib.rs
  crates/vx-resolver/src/resolution_cache.rs
  crates/vx-resolver/src/resolver.rs
  crates/vx-resolver/src/version/request.rs
  crates/vx-resolver/tests/resolution_cache_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(7zip): fix executable name and system_paths to point to binary file
  crates/vx-providers/7zip/provider.star
Due: none

fix(just): correct version_pattern to match 'just X.Y' output
  crates/vx-providers/just/provider.star
Due: none

fix: handle VX_VERSION=latest in install scripts
  install.ps1
  install.sh
Due: none
