Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

feat: add python 3.7 and wasm runtimes
  AGENTS.md
  Cargo.lock
  crates/vx-providers/python/provider.star
  crates/vx-providers/python/tests/starlark_logic_tests.rs
  crates/vx-providers/wasmer/provider.star
  crates/vx-providers/wasmtime/provider.star
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-starlark/tests/python_legacy_tests.rs
  crates/vx-starlark/tests/version_date_lookup_tests.rs
  crates/vx-starlark/tests/wasmer_tests.rs
  crates/vx-starlark/tests/wasmtime_tests.rs
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/tools/build-tools.md
  docs/tools/overview.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/tools/build-tools.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: prepend node_modules/.bin to PATH for npm/npx execution
  crates/vx-resolver/src/executor/environment.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
Due: none

fix: prepend node_modules/.bin to PATH for npm/npx execution (#906)
  Cargo.lock
  crates/vx-resolver/src/executor/environment.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore(deps): update tar 0.4.46, tokio 1.52.3, tower-http 0.6.11, reqwest 0.13.4, opentelemetry 0.32, tracing-opentelemetry 0.33
  Cargo.lock
  crates/vx-metrics/Cargo.toml
  crates/vx-metrics/src/exporter.rs
  crates/workspace-hack/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: update mcpcall references from 0.3.0 to 0.4.0
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  crates/vx-providers/mcpcall/provider.star
  crates/vx-starlark/tests/mcpcall_tests.rs
  docs/tools/ai.md
  docs/zh/tools/ai.md
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: teach token-efficient vx agent workflows
  .agents/skills/vx-best-practices/SKILL.md
  .agents/skills/vx-commands/SKILL.md
  .agents/skills/vx-troubleshooting/SKILL.md
  .agents/skills/vx-usage/SKILL.md
  AGENTS.md
  crates/vx-cli/src/cli.rs
  crates/vx-cli/tests/ai_setup_tests.rs
  crates/vx-output-filter/tests/filter_tests.rs
  docs/guide/agent-dx.md
  docs/guide/command-syntax-rules.md
  docs/tools/ai.md
  docs/zh/guide/command-syntax-rules.md
  docs/zh/tools/ai.md
  llms.txt
  skills/README.md
  skills/vx-best-practices/SKILL.md
  skills/vx-commands/SKILL.md
  skills/vx-troubleshooting/SKILL.md
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: harden release workflow reruns
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  docs/advanced/release-process.md
  docs/zh/advanced/release-process.md
Due: prettier

docs: update AGENTS.md, GEMINI.md, CLAUDE.md, add SECURITY.md and CODE_OF_CONDUCT.md
  AGENTS.md
  CLAUDE.md
  CODE_OF_CONDUCT.md
  GEMINI.md
  SECURITY.md
Due: none

docs: update AGENTS.md, GEMINI.md, CLAUDE.md, add SECURITY.md and CODE_OF_CONDUCT.md (#915)
  AGENTS.md
  CLAUDE.md
  CODE_OF_CONDUCT.md
  Cargo.lock
  GEMINI.md
  SECURITY.md
Due: none

fix: serialize runtime install verification
  crates/vx-runtime/src/runtime/install_impl.rs
  crates/vx-runtime/tests/install_lock_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: skip empty release dependency installs
  .github/workflows/release.yml
Due: prettier

chore: update lockfile for v0.9.6
  Cargo.lock
Due: none

fix: harden release and runtime installs
  .github/workflows/release.yml
  Cargo.lock
  crates/vx-runtime/src/runtime/install_impl.rs
  crates/vx-runtime/tests/install_lock_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

docs: remove emojis from README and update descriptions
  README.md
  README_zh.md
  docs/index.md
Due: none

fix(ci): replace dorny/paths-filter with native git diff
  .github/workflows/ci.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
Due: prettier

feat(skills): add vx-agent-workflow skill for token-efficient command execution
  .claude/skills/vx-agent-workflow/SKILL.md
  Cargo.lock
  crates/workspace-hack/Cargo.toml
  skills/README.md
  skills/vx-agent-workflow/SKILL.md
Due: none
