Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

feat(cli): overhaul vx add/remove with format-preserving edits
  Cargo.lock
  crates/vx-cli/Cargo.toml
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/add.rs
  crates/vx-cli/src/commands/mod.rs
  crates/vx-cli/src/commands/setup.rs
  crates/vx-cli/src/ui.rs
  crates/vx-cli/tests/add_command_tests.rs
  crates/vx-cli/tests/cli_parsing_tests.rs
  crates/vx-cli/tests/project_context/mod.rs
  crates/vx-cli/tests/setup_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

style: apply rustfmt to project_context test
  crates/vx-cli/tests/project_context/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

style(console): satisfy stable rustfmt on complete_tool bar messages
  crates/vx-console/src/progress.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore(deps): update multiple dependencies and actions
  .github/workflows/docs.yml
  .github/workflows/linux-packages.yml
  Cargo.lock
  crates/vx-runtime-http/Cargo.toml
  pkg/docker/Dockerfile
Due: prettier

chore(deps): batch update Renovate dependencies and actions
  .github/workflows/docs.yml
  .github/workflows/linux-packages.yml
  Cargo.lock
  crates/vx-runtime-http/Cargo.toml
  pkg/docker/Dockerfile
Due: prettier

feat(providers): add conda provider with micromamba, conda and mamba
  Cargo.lock
  Cargo.toml
  crates/vx-cli/Cargo.toml
  crates/vx-providers/conda/Cargo.toml
  crates/vx-providers/conda/provider.star
  crates/vx-providers/conda/src/config.rs
  crates/vx-providers/conda/src/lib.rs
  crates/vx-providers/conda/src/provider.rs
  crates/vx-providers/conda/src/runtime.rs
  crates/vx-providers/conda/tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(cli): bridge global install commands to vx package shims
  crates/vx-cli/src/lib.rs
  crates/vx-cli/src/npm_global_bridge.rs
  crates/vx-cli/tests/npm_global_bridge_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs(agent): add cross-language global install contract and fix RFC links
  AGENTS.md
  docs/guide/agent-dx.md
Due: none

feat(cli): enable direct global command shims in vx bin dir
  crates/vx-cli/src/commands/global/handler.rs
  crates/vx-cli/src/lib.rs
  crates/vx-cli/src/npm_global_bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test(cli): add e2e coverage for where and direct vite shim
  crates/vx-cli/tests/global_command_shim_e2e_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test(cli): stabilize shim e2e and add local coverage tests
  crates/vx-cli/tests/global_command_shim_e2e_tests.rs
  crates/vx-cli/tests/global_shim_command_tests.rs
  crates/vx-cli/tests/npm_global_bridge_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

perf: add cargo build optimization agent rule
  .codebuddy/rules/cargo-build-optimization.mdc
Due: none

perf: optimize workspace compilation settings
  Cargo.lock
  Cargo.toml
  crates/vx-installer/Cargo.toml
Due: none

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
  crates/workspace-hack/Cargo.toml
Due: none

docs: update cargo-build-optimization agent rule with implemented optimizations
  .codebuddy/rules/cargo-build-optimization.mdc
Due: none
