Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

docs: update version to v0.8.39 in AGENTS.md and README.md
  AGENTS.md
  README.md
Due: none

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
Due: none

fix: harden release-please and add mcpcall
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/rules/vx-core.mdc
  .cursor/skills/vx-usage/SKILL.md
  .github/copilot-instructions.md
  .github/workflows/ci-release-pr.yml
  .github/workflows/release-please.yml
  .windsurf/skills/vx-usage/SKILL.md
  AGENTS.md
  Cargo.lock
  crates/vx-providers/mcpcall/provider.star
  crates/vx-starlark/tests/mcpcall_tests.rs
  docs/advanced/contributing.md
  docs/architecture/OVERVIEW.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/tools/ai.md
  docs/tools/overview.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/tools/ai.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: correct metrics calculations
  crates/vx-metrics/src/token_savings.rs
  crates/vx-metrics/src/visualize.rs
  crates/vx-metrics/tests/token_savings_tests.rs
  crates/vx-metrics/tests/visualize_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: repair vx store executable permissions
  crates/vx-resolver/src/executor/command.rs
  crates/vx-resolver/tests/execute_permission_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: serialize runtime installs
  crates/vx-runtime/src/runtime/install_impl.rs
  crates/vx-runtime/tests/install_lock_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test: bound external command runtimes
  crates/vx-cli/tests/common/mod.rs
  crates/vx-cli/tests/common_timeout_tests.rs
  crates/vx-cli/tests/runtime_tester_timeout_tests.rs
  crates/vx-providers/gcloud/provider.star
  crates/vx-runtime/src/testing.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test: guard tool e2e hangs
  .config/nextest.toml
Due: none

test: stabilize windows tool e2e
  crates/vx-cli/tests/node/mod.rs
  crates/vx-cli/tests/pnpm/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add rust wasm providers
  AGENTS.md
  Cargo.lock
  crates/vx-providers/trunk/provider.star
  crates/vx-providers/wasm-pack/provider.star
  crates/vx-starlark/tests/trunk_tests.rs
  crates/vx-starlark/tests/wasm_pack_tests.rs
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/tools/build-tools.md
  docs/tools/overview.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/tools/build-tools.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests
