Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

perf: optimize workspace compilation settings
  Cargo.lock
  Cargo.toml
  crates/vx-installer/Cargo.toml
Due: none

docs: update cargo-build-optimization agent rule with implemented optimizations
  .codebuddy/rules/cargo-build-optimization.mdc
Due: none

perf: add cargo build optimization agent rule
  .codebuddy/rules/cargo-build-optimization.mdc
Due: none

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
  crates/workspace-hack/Cargo.toml
Due: none

fix(ci): optimize MSVC examples build and fix dotnet version resolution
  .github/workflows/examples-msvc.yml
  Cargo.lock
  crates/vx-providers/dotnet/provider.star
Due: prettier

fix: update provider file existence tests and apply cargo fmt
  crates/vx-cli/src/commands/execute.rs
  crates/vx-cli/src/commands/self_update.rs
  crates/vx-cli/src/lib.rs
  crates/vx-cli/tests/self_update_tests.rs
  crates/vx-runtime-core/src/lib.rs
  tests/e2e_cache_providers_tests.rs
  tests/e2e_new_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: allow async-fn-in-trait clippy lint for Rust 1.95 compatibility
  crates/vx-cli/src/commands/where_cmd.rs
  crates/vx-console/src/interact.rs
  crates/vx-env/src/env_assembler.rs
  crates/vx-env/src/tool_env.rs
  crates/vx-extension/src/discovery.rs
  crates/vx-metrics/src/visualize.rs
  crates/vx-project-analyzer/src/languages/rules.rs
  crates/vx-resolver/src/resolver.rs
  crates/vx-resolver/src/version/strategy.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/src/provider_env.rs
  crates/vx-runtime/src/runtime/mod.rs
  crates/vx-starlark/src/handle.rs
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-versions/src/resolver/core.rs
  justfile
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): update pnpm provider for v11 archive format
  crates/vx-providers/pnpm/provider.star
Due: none

fix(ci): increase Windows debug stack size to prevent overflow
  .cargo/config.toml
  rust-toolchain.toml
Due: none

fix(ci): remove ilammy/msvc-dev-cmd to fix bash function injection error
  .github/actions/setup-rust-sccache/action.yml
Due: prettier

docs: update version to 0.8.32 and provider count to 129
  AGENTS.md
  CLAUDE.md
Due: none

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
Due: none

docs: update provider count to 129 in AGENTS.md
  AGENTS.md
Due: none

fix(ci): increase Full test timeout to 45 minutes
  .github/workflows/ci.yml
Due: prettier

chore: fix clippy warnings and increase Windows stack size
  crates/vx-runtime/src/runtime/subtrait.rs
  crates/vx-runtime/src/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: update tools overview and quality documentation
  docs/tools/overview.md
  docs/tools/quality.md
Due: none

fix(ci): increase Code Coverage timeout to 45 minutes
  .github/workflows/ci.yml
Due: prettier

fix(ci): force LF line endings for Rust files
  .gitattributes
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

