Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

fix: validate bot-created release pull requests
  .github/workflows/ci-release-pr.yml
  .github/workflows/release-please.yml
  .gitignore
  scripts/tests/test_release_please_workflow.py
  scripts/tests/test_validate_release_pr.py
  scripts/validate_release_pr.py
Due: prettier

fix: harden version source resolution
  crates/vx-starlark/src/provider/version_cache.rs
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-starlark/tests/version_source_resilience_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: regenerate workspace-hack
  Cargo.lock
Due: none

fix: harden version source resolution (#1084)
  Cargo.lock
  crates/vx-starlark/src/provider/version_cache.rs
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-starlark/tests/version_source_resilience_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(dev): expose system-detected tools such as cl and clang-cl in the dev shell
  crates/vx-cli/src/commands/dev/export.rs
  crates/vx-cli/src/commands/dev/handler.rs
  crates/vx-cli/src/commands/dev/info.rs
  crates/vx-cli/src/commands/lock.rs
  crates/vx-cli/src/commands/mod.rs
  crates/vx-cli/src/commands/tool_paths.rs
  crates/vx-cli/src/commands/where_cmd.rs
  crates/vx-resolver/src/version/strategy.rs
  crates/vx-resolver/tests/version_tests.rs
  crates/vx-runtime/src/registry.rs
  crates/vx-runtime/tests/registry_tests.rs
  crates/vx-versions/src/resolver/core.rs
  crates/vx-versions/tests/calver_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: document the Scoop bucket required by scoop install vx
  README.md
  README_zh.md
Due: none

ci(release): dispatch package manager publishing after release goes public
  .github/workflows/release.yml
Due: prettier

ci(package-managers): make the Chocolatey push opt-in
  .github/workflows/package-managers.yml
  .github/workflows/release.yml
Due: prettier

fix(list): report installed versions from the store and honour --installed
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/list/handler.rs
  crates/vx-cli/src/output/mod.rs
  crates/vx-cli/tests/cli_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(lock): lock system-only providers as "system", reject latest
  crates/vx-cli/src/commands/lock.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs(vcpkg): state that vx pins the CLI only, not triplets, ports or VCPKG_ROOT
  README.md
  README_zh.md
  crates/vx-providers/vcpkg/provider.star
  docs/tools/build-tools.md
  docs/zh/tools/build-tools.md
Due: none

fix(ci): stop skipping every test job in change detection
  .github/workflows/ci.yml
Due: prettier

docs(vcpkg): correct ports tree and VCPKG_ROOT claims
  docs/tools/build-tools.md
  docs/zh/tools/build-tools.md
Due: none

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
  crates/workspace-hack/Cargo.toml
Due: none

fix(ci): harden change detection base resolution and reject empty changesets
  .github/workflows/ci.yml
Due: prettier

fix(lint): unblock change detection by clearing pre-existing clippy errors
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-starlark/src/provider/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs(vcpkg): correct ports tree and VCPKG_ROOT claims (#1096)
  Cargo.lock
  crates/workspace-hack/Cargo.toml
  docs/tools/build-tools.md
  docs/zh/tools/build-tools.md
Due: none

docs(vcpkg): remove stale registry-clone and cache-path claims
  docs/tools/build-tools.md
  docs/zh/tools/build-tools.md
Due: none

docs(vcpkg): remove stale registry-clone and cache-path claims (#1098)
  docs/tools/build-tools.md
  docs/zh/tools/build-tools.md
Due: none

docs(vcpkg): qualify VCPKG_ROOT wording and fix stale git dep reason
  crates/vx-providers/vcpkg/provider.star
  docs/tools/build-tools.md
  docs/zh/tools/build-tools.md
Due: none

fix(ci): stop skipping every test job in change detection
  .github/workflows/ci.yml
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-starlark/src/provider/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix(ci): stop skipping every job in the sibling workflow change detection
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
Due: prettier

fix(provider): match yazi multi-line version output
  Cargo.lock
  crates/vx-providers/yazi/provider.star
  crates/vx-starlark/Cargo.toml
  crates/vx-starlark/tests/yazi_version_pattern_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(dev): warn when nesting a dev shell and track its depth
  crates/vx-cli/src/commands/dev/handler.rs
  crates/vx-cli/src/commands/dev/mod.rs
  crates/vx-cli/tests/dev_nested_shell_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): fail on cancelled jobs and cross-check empty changesets off-payload
  .github/workflows/ci.yml
Due: prettier

fix(ci): stop skipping sibling workflow jobs and fix yazi version detection
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
  Cargo.lock
  crates/vx-providers/yazi/provider.star
  crates/vx-starlark/Cargo.toml
  crates/vx-starlark/tests/yazi_version_pattern_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix(ci): pin the compare API base to a resolved SHA
  .github/workflows/ci.yml
Due: prettier

fix(ci): treat cancelled jobs as failures and cross-check empty changesets off-payload (#1103)
  .github/workflows/ci.yml
Due: prettier

ci: block CI-skip markers from reaching main through squash merges
  .github/workflows/ci-gate-sentinel.yml
  .github/workflows/ci.yml
  .github/workflows/pr-ci-marker-guard.yml
  .github/workflows/scripts-tests.yml
  docs/.vitepress/config.ts
  docs/advanced/ci-gate-integrity.md
  docs/zh/advanced/ci-gate-integrity.md
  justfile
  scripts/check_main_ci_runs.py
  scripts/check_pr_ci_markers.sh
  scripts/tests/test_check_main_ci_runs.py
  scripts/tests/test_validate_commit_markers.py
  scripts/validate_commit_markers.py
Due: prettier

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

