Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

fix: skip broken micromamba windows release
  crates/vx-providers/conda/provider.star
Due: none

fix: filter vault releases by platform artifacts
  crates/vx-providers/vault/provider.star
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-starlark/stdlib/http.star
  crates/vx-starlark/stdlib/layout.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): correct mirror tag version fetching
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/witr/provider.star
Due: none

ci: optimize workflow caching and setup
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-action.yml
  .github/workflows/test-providers.yml
  action.yml
Due: prettier

ci: skip miniforge runtimes in provider e2e
  .github/scripts/discover-providers.sh
Due: none

docs: update version to v0.8.37 in AGENTS.md and README.md
  AGENTS.md
  README.md
Due: none

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
Due: none

docs: add missing tools (actrun, ctlptl, gws) to documentation
  docs/tools/cloud.md
  docs/tools/devops.md
  llms-full.txt
Due: none

fix: avoid msvc repair for unrelated commands
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/tests/prepare_stage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test: cover broken msvc companion preparation
  crates/vx-resolver/src/executor/project_config.rs
  crates/vx-resolver/tests/prepare_stage_tests.rs
  docs/tools/build-tools.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: fix dead links in docs build
  docs/cli/self-update.md
  docs/tools/worktrunk.md
Due: none

docs: update version to v0.8.39 in AGENTS.md and README.md
  AGENTS.md
  README.md
Due: none
