Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

fix: preserve PATH for Windows Git hooks
  crates/vx-providers/git/provider.star
  crates/vx-providers/git/tests/starlark_logic_tests.rs
  crates/vx-starlark/tests/git_provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: repair Windows Git installs and main CI
  Cargo.lock
  crates/vx-cli/tests/headroom_proxy_tests.rs
  crates/vx-cli/tests/headroom_setup_tests.rs
  crates/vx-providers/git/provider.star
  crates/vx-providers/python/provider.star
  crates/vx-resolver/src/executor/pipeline/stages/ensure.rs
  crates/vx-resolver/tests/ensure_stage_tests.rs
  crates/vx-runtime/src/manifest_runtime/install.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/tests/runtime_tests.rs
  crates/vx-starlark/src/provider/execute.rs
  crates/vx-starlark/src/provider/types.rs
  crates/vx-starlark/tests/git_provider_tests.rs
  crates/workspace-hack/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: repair Windows Git installs and main CI (#1050)
  Cargo.lock
  crates/vx-cli/tests/headroom_proxy_tests.rs
  crates/vx-cli/tests/headroom_setup_tests.rs
  crates/vx-providers/git/provider.star
  crates/vx-providers/python/provider.star
  crates/vx-resolver/src/executor/pipeline/stages/ensure.rs
  crates/vx-resolver/tests/ensure_stage_tests.rs
  crates/vx-runtime/src/manifest_runtime/install.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/tests/runtime_tests.rs
  crates/vx-starlark/src/provider/execute.rs
  crates/vx-starlark/src/provider/types.rs
  crates/vx-starlark/tests/git_provider_tests.rs
  crates/workspace-hack/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: stabilize cross-platform CI
  crates/vx-installer/src/formats/tar.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: stabilize cross-platform CI (#1052)
  crates/vx-installer/src/formats/tar.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: satisfy Unix clippy checks
  crates/vx-runtime-http/src/installer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: use system Rust for coverage
  justfile
Due: none

fix: stabilize Windows E2E setup
  .github/workflows/ci.yml
Due: prettier

fix: stabilize remaining CI checks (#1053)
  .github/workflows/ci.yml
  crates/vx-runtime-http/src/installer.rs
  justfile
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: isolate action caches by architecture
  Cargo.lock
  action.yml
  tests/action_cache_key_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: select Spectre-capable MSVC toolchain for build envs
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/tests/prepare_stage_tests.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
  crates/workspace-hack/Cargo.toml
Due: none

fix(providers): thread target platform through Starlark download_url for cross-platform lock URLs
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): thread target platform through Starlark download_url for cross-platform lock URLs
  crates/vx-starlark/src/context.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): thread target platform through Starlark download_url for cross-platform lock URLs
  crates/vx-starlark/src/provider/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): thread target platform through Starlark download_url for cross-platform lock URLs
  crates/vx-starlark/src/provider/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): thread target platform through Starlark download_url for cross-platform lock URLs
  crates/vx-runtime/tests/runtime_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): repair compile errors in platform threading
  crates/vx-starlark/src/provider/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): repair compile errors in platform threading
  crates/vx-starlark/src/handle.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): repair compile errors in platform threading
  crates/vx-starlark/src/context.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): repair compile errors in platform threading
  crates/vx-starlark/src/provider/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: select Spectre-capable MSVC toolchain for build envs
  Cargo.lock
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/tests/prepare_stage_tests.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/tests/runtime_tests.rs
  crates/vx-starlark/src/context.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: repair Scoop publishing for vx releases
  .github/workflows/package-managers.yml
  docs/advanced/release-process.md
  docs/guide/installation.md
  docs/zh/guide/installation.md
Due: prettier

fix: deduplicate inherited PATH entries
  crates/vx-paths/src/platform.rs
  crates/vx-paths/tests/path_dedup_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

Fix nested Windows PATH inheritance (#1073)
  crates/vx-paths/src/platform.rs
  crates/vx-paths/tests/path_dedup_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: preserve user-facing fixes in release automation
  .github/workflows/pr-title.yml
  scripts/tests/test_pr_title_workflow.py
  scripts/tests/test_validate_pr_title.py
  scripts/validate_pr_title.py
Due: prettier

chore: regenerate workspace-hack
  Cargo.lock
  crates/workspace-hack/Cargo.toml
Due: none

fix: preserve user-facing fixes in release automation
  .github/workflows/pr-title.yml
  Cargo.lock
  crates/workspace-hack/Cargo.toml
  scripts/tests/test_pr_title_workflow.py
  scripts/tests/test_validate_pr_title.py
  scripts/validate_pr_title.py
Due: prettier
