Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

fix(ci): format traits.rs to pass Code Quality check
  crates/vx-runtime/src/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add age and sops providers, update project analyzer frameworks
  crates/vx-project-analyzer/src/ecosystem.rs
  crates/vx-project-analyzer/src/frameworks/bun.rs
  crates/vx-project-analyzer/src/frameworks/deno.rs
  crates/vx-project-analyzer/src/frameworks/mod.rs
  crates/vx-project-analyzer/src/frameworks/nix.rs
  crates/vx-project-analyzer/src/frameworks/types.rs
  crates/vx-project-analyzer/src/frameworks/zig.rs
  crates/vx-project-analyzer/src/types.rs
  crates/vx-providers/age/provider.star
  crates/vx-providers/sops/provider.star
  crates/vx-runtime/src/provider_env.rs
  rust-toolchain.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
Due: none

docs: update provider count to 131 in AGENTS.md
  AGENTS.md
Due: none

docs: add age and sops to tools overview and CHANGELOG
  CHANGELOG.md
  docs/tools/overview.md
Due: none

refactor(provider): conda use provider.star only (remove Rust code)
  crates/vx-providers/conda/Cargo.toml
  crates/vx-providers/conda/src/config.rs
  crates/vx-providers/conda/src/lib.rs
  crates/vx-providers/conda/src/provider.rs
  crates/vx-providers/conda/src/runtime.rs
  crates/vx-providers/conda/tests/config_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: update provider count from 129/131 to 132 across all documentation
  AGENTS.md
  CLAUDE.md
  docs/tools/overview.md
  llms-full.txt
  llms.txt
Due: none

feat(providers): add step-cli and vault providers, fix conda lint
  crates/vx-providers/conda/provider.star
  crates/vx-providers/step-cli/provider.star
  crates/vx-providers/vault/provider.star
Due: none

feat(project-analyzer): add Bun, Deno, Nix, Zig framework detection + age/sops providers
  crates/vx-project-analyzer/src/ecosystem.rs
  crates/vx-project-analyzer/src/frameworks/bun.rs
  crates/vx-project-analyzer/src/frameworks/deno.rs
  crates/vx-project-analyzer/src/frameworks/nix.rs
  crates/vx-project-analyzer/src/frameworks/zig.rs
  crates/vx-project-analyzer/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(project-analyzer): remove clippy allow attributes and fix warnings in framework detectors
  crates/vx-project-analyzer/src/frameworks/bun.rs
  crates/vx-project-analyzer/src/frameworks/deno.rs
  crates/vx-project-analyzer/src/frameworks/nix.rs
  crates/vx-project-analyzer/src/frameworks/zig.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add worktrunk provider (132 tools total)
  crates/vx-providers/conda/provider.star
  crates/vx-providers/worktrunk/provider.star
  docs/advanced/contributing.md
  docs/architecture/OVERVIEW.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/tools/overview.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/tools/overview.md
  llms.txt
  skills/worktrunk/SKILL.md
  vx.lock
Due: none

fix(worktrunk): load path_fns from layout.star, not provider.star
  crates/vx-providers/worktrunk/provider.star
Due: none

fix(cleanup): rename ToolSpec to RuntimeSpec and AddRuntimeSpec (Phase 3 forbidden terminology)
  .codebuddy/automations/vx-clearup/memory.md
  crates/vx-cli/src/commands/add.rs
  crates/vx-cli/src/commands/dev/export.rs
  crates/vx-cli/src/commands/dev/handler.rs
  crates/vx-cli/tests/add_command_tests.rs
  crates/vx-env/src/lib.rs
  crates/vx-env/src/tool_env.rs
  crates/vx-project-analyzer/src/frameworks/bun.rs
  crates/vx-project-analyzer/src/frameworks/deno.rs
  crates/vx-project-analyzer/src/frameworks/nix.rs
  crates/vx-project-analyzer/src/frameworks/types.rs
  crates/vx-project-analyzer/src/frameworks/zig.rs
  crates/vx-providers/cargo-deny/provider.star
  crates/vx-providers/cargo-nextest/provider.star
  crates/vx-providers/sccache/provider.star
  crates/vx-providers/starship/provider.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(worktrunk): correct install_layout for cross-platform archive structure
  crates/vx-providers/worktrunk/provider.star
Due: none

chore(cleanup): remove dead engine() function from vx-starlark
  crates/vx-starlark/src/provider/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore(automation): update automation memory files
  .codebuddy/automations/vx-auto-improve/memory.md
  .codebuddy/automations/vx-clearup/memory.md
  vx.lock
Due: none

chore(cleanup): fix benchmark thresholds and remove dead code
  crates/vx-starlark/src/engine.rs
  tests/e2e_benchmark_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(conda): correct install_layout for micromamba/conda/mamba
  crates/vx-providers/conda/provider.star
Due: none

chore(cleanup): remove dead code SystemInstallConfig and ProvidedTool from vx-system-pm
  crates/vx-system-pm/src/strategy.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci,age): fix CI errors - providers are Starlark files, not crates
  .github/workflows/ci.yml
  crates/vx-providers/age/provider.star
Due: prettier

fix: correct install_layout and tag_prefix for age, sops, cargo-deny providers
  crates/vx-providers/age/provider.star
  crates/vx-providers/cargo-deny/provider.star
  crates/vx-providers/sops/provider.star
Due: none

test(starlark): add provider tests for worktrunk, starship, sccache, cargo-nextest, cargo-deny
  crates/vx-starlark/tests/provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(provider): fix worktrunk lint issues
  vx.lock
Due: none

test(starlark): add download_url and install_layout tests for new providers
  crates/vx-starlark/tests/provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(provider): remove unused load in syft provider
  crates/vx-providers/syft/provider.star
  rust-toolchain.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

