Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

fix: fix system_install providers and starlark test assertions (round 5)
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/actrun/tests/starlark_logic_tests.rs
  crates/vx-providers/bash/provider.star
  crates/vx-providers/ccache/tests/starlark_logic_tests.rs
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/ffmpeg/tests/starlark_logic_tests.rs
  crates/vx-providers/hadolint/tests/starlark_logic_tests.rs
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/imagemagick/tests/starlark_logic_tests.rs
  crates/vx-providers/make/provider.star
  crates/vx-providers/nasm/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/pnpm/tests/starlark_logic_tests.rs
  crates/vx-providers/pwsh/provider.star
  crates/vx-providers/rcedit/provider.star
  crates/vx-providers/rcedit/tests/starlark_logic_tests.rs
  crates/vx-providers/vcpkg/tests/starlark_logic_tests.rs
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/tests/starlark_logic_tests.rs
  crates/vx-starlark/src/provider/execute.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(manifest-runtime): override resolve_version to return 'system' for system tools
  crates/vx-runtime/src/manifest_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: remove unused loads and fix lint issues in provider.star files
  crates/vx-providers/7zip/provider.star
  crates/vx-providers/actrun/provider.star
  crates/vx-providers/awscli/provider.star
  crates/vx-providers/azcli/provider.star
  crates/vx-providers/bash/provider.star
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/choco/provider.star
  crates/vx-providers/cmake/provider.star
  crates/vx-providers/deno/provider.star
  crates/vx-providers/docker/provider.star
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/gh/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/node/provider.star
  crates/vx-providers/nuget/provider.star
  crates/vx-providers/terraform/provider.star
  crates/vx-providers/vcpkg/provider.star
  crates/vx-providers/yarn/provider.star
  crates/vx-starlark/src/engine.rs
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-starlark/stdlib/provider_templates.star
  examples/providers/build-tools/provider.star
  examples/providers/git-tools/provider.star
  examples/providers/modern-cli-tools/provider.star
  examples/providers/network-tools/provider.star
  examples/providers/shell-tools/provider.star
  examples/providers/unix-tools/provider.star
  install.ps1
  install.sh
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: inject parent runtime PATH for bundled runtimes via spec env_config
  crates/vx-resolver/src/executor/environment.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(cli): update commands and test utilities for runtime refactoring
  Cargo.lock
  crates/vx-cli/src/commands/check.rs
  crates/vx-cli/src/commands/common.rs
  crates/vx-cli/src/commands/dev/handler.rs
  crates/vx-cli/src/commands/execute.rs
  crates/vx-cli/src/commands/install/handler.rs
  crates/vx-cli/src/commands/setup.rs
  crates/vx-cli/src/commands/sync.rs
  crates/vx-cli/src/test_utils.rs
  crates/vx-cli/tests/cli_integration_tests.rs
  crates/vx-runtime-http/src/context.rs
  examples/extensions/hello-world/vx-extension.toml
  vx.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(env,version-fetcher): eliminate platform/version utils duplication
  crates/vx-env/Cargo.toml
  crates/vx-env/src/tool_env.rs
  crates/vx-version-fetcher/Cargo.toml
  crates/vx-version-fetcher/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

ci: fix hakari workspace checks and test timeouts
  .gitattributes
  .github/workflows/ci.yml
  crates/workspace-hack/Cargo.toml
Due: prettier

feat: wire provider dynamic deps and fix install routing
  crates/vx-cli/src/commands/global/handler.rs
  crates/vx-cli/src/commands/install/handler.rs
  crates/vx-cli/src/error_handler.rs
  crates/vx-cli/tests/cli_integration_tests.rs
  crates/vx-config/presets/fullstack.toml
  crates/vx-paths/src/safety_net.rs
  crates/vx-resolver/src/executor/bin_dir_cache.rs
  crates/vx-resolver/src/executor/executor.rs
  crates/vx-resolver/src/executor/path_builder.rs
  crates/vx-resolver/src/executor/pipeline/error.rs
  crates/vx-resolver/src/executor/pipeline/stages/execute.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/executor/version_utils.rs
  crates/vx-resolver/src/resolver.rs
  crates/vx-resolver/src/runtime_map.rs
  crates/vx-resolver/tests/resolution_cache_tests.rs
  crates/vx-resolver/tests/resolver_tests.rs
  crates/vx-resolver/tests/runtime_map_tests.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/src/runtime/mod.rs
  crates/vx-runtime/src/utils.rs
  crates/vx-starlark/src/provider/bridge.rs
  crates/vx-starlark/src/provider/builder.rs
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/tests/provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): add sccache setup to benchmark workflow
  .github/workflows/benchmark.yml
Due: prettier

fix: resolve CI failures for imagemagick, ffmpeg, rez, bash, make, nasm
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/bash/provider.star
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/make/provider.star
  crates/vx-providers/nasm/provider.star
  crates/vx-providers/rez/provider.star
Due: none

fix(ci): add sccache setup to all CI workflows
  .github/workflows/codeql.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
Due: prettier

fix: add is_version_installable and prepare_execution for bundled runtimes
  crates/vx-runtime/src/manifest_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: use bin/bash.exe for git-bash instead of git-bash.exe --attach
  crates/vx-cli/src/lib.rs
  crates/vx-providers/git/provider.star
  docs/cli/implicit-package-execution.md
  docs/zh/cli/implicit-package-execution.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve CI errors
  tests/e2e_install_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: ensure rust targets are installed in CI
  .github/actions/setup-rust-sccache/action.yml
Due: prettier

fix: temp_dir unbound variable in install.sh and uv strip_prefix
  crates/vx-providers/uv/provider.star
  install.sh
Due: none

fix: fix PSReadLine cursor positioning issue in PowerShell prompt
  crates/vx-cli/src/commands/dev/export.rs
  crates/vx-env/assets/shell/powershell_init.ps1
  crates/vx-env/src/shell/powershell.rs
  crates/vx-env/src/spawner.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: use child version for bundled proxy runtime installation
  Cargo.lock
  crates/vx-cli/src/commands/dev/handler.rs
  crates/vx-installer/Cargo.toml
  crates/vx-installer/src/formats/tar.rs
  crates/vx-resolver/src/executor/installation.rs
  crates/vx-runtime/src/manifest_runtime.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-starlark/src/test_mocks.rs
  vx.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: use struct attribute access ctx.platform.os instead of dict access ctx[platform][os] in stdlib star files
  crates/vx-starlark/stdlib/github.star
  crates/vx-starlark/stdlib/install.star
  crates/vx-starlark/stdlib/platform.star
Due: none

feat: add new oneshot runner ecosystems and update CLI help/docs
  .codebuddy/skills/vx-provider-creator/SKILL.md
  .codebuddy/skills/vx-provider-updater/SKILL.md
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/lib.rs
  crates/vx-ecosystem-pm/src/installers/deno.rs
  crates/vx-ecosystem-pm/src/installers/dlx.rs
  crates/vx-ecosystem-pm/src/installers/dotnet_tool.rs
  crates/vx-ecosystem-pm/src/installers/jbang.rs
  crates/vx-ecosystem-pm/src/installers/mod.rs
  crates/vx-ecosystem-pm/src/installers/pipx.rs
  crates/vx-ecosystem-pm/src/lib.rs
  crates/vx-shim/src/request.rs
  crates/vx-starlark/src/metadata.rs
  docs/cli/implicit-package-execution.md
  docs/zh/cli/implicit-package-execution.md
  tests/e2e_package_syntax_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ai): fix skills format and install all 5 skills on setup
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/src/skills/vx-best-practices/SKILL.md
  crates/vx-cli/src/skills/vx-commands/SKILL.md
  crates/vx-cli/src/skills/vx-project/SKILL.md
  crates/vx-cli/src/skills/vx-troubleshooting/SKILL.md
  crates/vx-cli/src/skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: update Cargo.lock and trailing whitespace cleanup
  Cargo.lock
  Cargo.toml
Due: none

docs: update rules to reflect provider.star migration
  .codebuddy/rules/Provider开发指南.mdc
  .codebuddy/rules/no-provider-platform-constraint-key.mdc
  .codebuddy/rules/vx-best-practices.mdc
  .codebuddy/rules/动态执行器.mdc
  .codebuddy/rules/存储架构.mdc
  .codebuddy/rules/项目架构.mdc
Due: none

fix: replace all ctx dict access with struct attribute access in provider star files
  crates/vx-providers/dotnet/provider.star
  crates/vx-providers/gcloud/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/java/provider.star
  crates/vx-providers/jq/provider.star
  crates/vx-providers/nasm/provider.star
  crates/vx-providers/ninja/provider.star
  crates/vx-providers/node/provider.star
  crates/vx-providers/nuget/provider.star
  crates/vx-providers/ollama/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/systemctl/provider.star
  crates/vx-providers/vite/provider.star
  crates/vx-providers/vscode/provider.star
  crates/vx-starlark/tests/engine_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): fix discovery parser and CI skip list for Linux/macOS failures
  .codebuddy/memory/2026-03-19.md
  .github/scripts/discover-providers.sh
  crates/vx-providers/pwsh/provider.star
  crates/vx-providers/yq/provider.star
  crates/vx-star-metadata/src/discovery.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-star-metadata/tests/discovery_tests.rs
  crates/vx-star-metadata/tests/metadata_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve Linux CI failures for ffplay/ffprobe/gofmt/lld/xmake/yq
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/llvm/provider.star
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/provider.star
Due: none

fix: inject parent runtime env for bundled runtimes (npm/node PATH issue)
  crates/vx-cli/build.rs
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/src/runtime_map.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-starlark/src/provider/builder.rs
  crates/vx-system-pm/src/managers/scoop.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(windows): resolve OS error 193 when executing bundled runtimes (npm/npx)
  crates/vx-resolver/src/executor/command.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(runtime-core): remove dead Runtime trait and provider machinery
  crates/vx-runtime-core/src/lib.rs
  crates/vx-runtime-core/src/provider.rs
  crates/vx-runtime-core/src/registry.rs
  crates/vx-runtime-core/src/runtime.rs
  crates/vx-runtime-core/src/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests
