Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

fix(docs): update zh architecture doc to provider.star DSL and 129 providers
  docs/zh/advanced/architecture.md
Due: none

fix(docs): sync zh manifest-driven-providers - remove provider.toml refs, fix tool count to 129
  docs/zh/guide/manifest-driven-providers.md
Due: none

fix: wire Starlark post_extract hooks into ManifestDrivenRuntime and fix bundled runtime detection
  crates/vx-providers/rust/provider.star
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-starlark/src/provider/bridge.rs
  crates/vx-starlark/src/provider/builder.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: correct cmake macOS download URL and jq environment key
  crates/vx-providers/cmake/provider.star
  crates/vx-providers/jq/provider.star
Due: none

fix: correct download URLs for grpcurl, k3d, kind, and duckdb providers
  Cargo.lock
  crates/vx-providers/duckdb/provider.star
  crates/vx-providers/duckdb/tests/starlark_logic_tests.rs
  crates/vx-providers/grpcurl/provider.star
  crates/vx-providers/grpcurl/tests/starlark_logic_tests.rs
  crates/vx-providers/k3d/provider.star
  crates/vx-providers/k3d/tests/starlark_logic_tests.rs
  crates/vx-providers/kind/provider.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(installer): fix PortableGit .7z.exe not recognized as archive + stop version fallback on layout errors
  crates/vx-resolver/src/executor/installation.rs
  crates/vx-runtime-http/src/installer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): fix 5 provider bugs from auto-improve branch
  crates/vx-providers/cosign/provider.star
  crates/vx-providers/goreleaser/provider.star
  crates/vx-providers/grpcurl/provider.star
  crates/vx-providers/k3d/provider.star
  crates/vx-providers/usql/provider.star
Due: none

fix(resolver): stop re-installing system-managed runtimes on every vx invocation
  crates/vx-resolver/src/executor/installation.rs
  crates/vx-resolver/src/executor/pipeline/orchestrator.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/resolver.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): fix 5 more provider bugs (round 2) + add tar.bz2 support
  crates/vx-providers/cosign/provider.star
  crates/vx-providers/ctlptl/provider.star
  crates/vx-providers/lefthook/provider.star
  crates/vx-providers/skaffold/provider.star
  crates/vx-runtime-http/Cargo.toml
  crates/vx-runtime-http/src/installer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore(dev): add pre-push git hook to auto-regenerate workspace-hack
  .githooks/pre-push
  AGENTS.md
  justfile
Due: none

ci: add [skip ci] to workspace-hack auto-commit to prevent CI loop
  .github/workflows/ci.yml
Due: prettier

fix(rust): stop re-installing rust on every vx cargo invocation
  crates/vx-providers/rust/provider.star
  crates/vx-resolver/src/executor/installation.rs
  crates/vx-resolver/src/resolver.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-starlark/src/engine.rs
  crates/vx-starlark/src/provider/bridge.rs
  crates/vx-starlark/src/provider/builder.rs
  vx.lock
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test(rust): add platform_install_dir to mock ctx in environment tests
  crates/vx-providers/rust/tests/starlark_logic_tests.rs
  vx.lock
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve CI failures for lefthook, grpcurl, and kustomize providers
  crates/vx-providers/kustomize/provider.star
  crates/vx-providers/kustomize/tests/starlark_logic_tests.rs
  crates/vx-providers/lefthook/provider.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test(providers): fix incorrect download URL assertions in grpcurl/k3d/usql tests
  crates/vx-providers/grpcurl/provider.star
  crates/vx-providers/k3d/tests/starlark_logic_tests.rs
  crates/vx-providers/usql/tests/starlark_logic_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: remove platform subdir from install path, fix providers
  crates/vx-cli/src/commands/install/handler.rs
  crates/vx-cli/src/commands/test/handler.rs
  crates/vx-paths/src/resolver.rs
  crates/vx-paths/src/runtime_root.rs
  crates/vx-providers/grpcurl/provider.star
  crates/vx-providers/grpcurl/tests/starlark_logic_tests.rs
  crates/vx-providers/lefthook/provider.star
  crates/vx-resolver/src/executor/bin_dir_cache.rs
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/src/resolver.rs
  crates/vx-runtime/src/integrated_resolver.rs
  crates/vx-runtime/src/manifest_runtime/install.rs
  crates/vx-runtime/src/manifest_runtime/shell.rs
  crates/vx-runtime/src/runtime/install_impl.rs
  crates/vx-runtime/src/runtime/mod.rs
  crates/vx-starlark/src/engine.rs
  crates/vx-starlark/src/handle.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(engine): ctx.install_dir now points to actual install location
  crates/vx-providers/lefthook/provider.star
  crates/vx-providers/rust/tests/starlark_logic_tests.rs
  crates/vx-starlark/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(installer): apply binary rename fix to RealInstaller.download_with_layout
  crates/vx-runtime-http/src/installer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): fix binary rename, grpcurl macOS, duckdb macOS, nerdctl platform
  crates/vx-providers/duckdb/provider.star
  crates/vx-providers/duckdb/tests/starlark_logic_tests.rs
  crates/vx-providers/grpcurl/provider.star
  crates/vx-providers/grpcurl/tests/starlark_logic_tests.rs
  crates/vx-providers/nerdctl/provider.star
  crates/vx-runtime/src/traits.rs
  vx.lock
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(uv): route uvx through uv tool run
  crates/vx-providers/uv/provider.star
  crates/vx-providers/uv/tests/starlark_logic_tests.rs
  crates/vx-starlark/src/test_mocks.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(runtime): preserve bundled command prefixes
  crates/vx-cli/tests/uv/mod.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/tests/manifest_runtime_command_prefix_tests.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-star-metadata/tests/metadata_tests.rs
  crates/vx-starlark/src/provider/builder.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(provider): correct grpcurl version check
  crates/vx-providers/grpcurl/provider.star
  crates/vx-providers/grpcurl/tests/starlark_logic_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(resolver): resolve bundled runtime fallback executable
  crates/vx-resolver/src/executor/pipeline/stages/prepare.rs
  crates/vx-resolver/tests/prepare_stage_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(paths): detect unified runtime store versions
  crates/vx-paths/src/manager.rs
  crates/vx-paths/tests/manager_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(provider): use gnu rustup triples on linux
  crates/vx-providers/rust/provider.star
  crates/vx-providers/rust/tests/starlark_logic_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(tests): resolve latest unit test failures
  crates/vx-paths/src/manager.rs
  crates/vx-providers/k3d/tests/starlark_logic_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

style: apply rustfmt fixes for CI
  crates/vx-providers/ctlptl/tests/starlark_logic_tests.rs
  crates/vx-providers/lefthook/tests/starlark_logic_tests.rs
  crates/vx-providers/lima/tests/starlark_logic_tests.rs
  crates/vx-providers/tilt/tests/starlark_logic_tests.rs
  crates/vx-resolver/src/executor/pipeline/orchestrator.rs
  crates/vx-resolver/src/resolver.rs
  crates/vx-runtime-http/src/installer.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/src/traits.rs
  crates/vx-starlark/src/provider/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(runtime): satisfy clippy collapsible-if lint
  crates/vx-runtime/src/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

