Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

ci: add CI gate workflow for release-please PRs (#685)
  .github/workflows/ci-release-pr.yml
Due: prettier

chore: remove Dependabot configuration
  .github/dependabot.yml
Due: prettier

fix(ci): resolve required check name conflict blocking PR merges
  .github/workflows/ci-release-pr.yml
Due: prettier

fix(release): disable sccache rustc-wrapper in release workflow
  .github/workflows/release.yml
Due: prettier

fix(install): skip releases without binary assets in version resolution
  install.ps1
  install.sh
Due: none

fix(install): prevent awk double-output in resolve_latest_version
  install.sh
Due: none

fix: remove windows-sys 0.59 and merge features into 0.61 in workspace-hack
  Cargo.lock
  crates/workspace-hack/Cargo.toml
Due: none

docs: improve agent documentation for better AI discoverability
  AGENTS.md
  CONTRIBUTING.md
  README.md
  README_zh.md
  docs/advanced/contributing.md
  skills/vx-best-practices/SKILL.md
  skills/vx-commands/SKILL.md
  skills/vx-project/SKILL.md
  skills/vx-troubleshooting/SKILL.md
  skills/vx-usage/SKILL.md
Due: none

docs: improve agent documentation for better AI discoverability (#701)
  AGENTS.md
  CONTRIBUTING.md
  README.md
  README_zh.md
  docs/advanced/contributing.md
  skills/vx-best-practices/SKILL.md
  skills/vx-commands/SKILL.md
  skills/vx-project/SKILL.md
  skills/vx-troubleshooting/SKILL.md
  skills/vx-usage/SKILL.md
Due: none

feat(tests): add comprehensive Python provider e2e tests
  .github/scripts/discover-providers.sh
  .github/workflows/test-providers.yml
  Cargo.lock
  justfile
  tests/e2e_install_tests.rs
  tests/e2e_python_provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix(tests): relax assertion in test_vx_toml_python_setup_dry_run
  tests/e2e_python_provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(hooks): upgrade cargo-hakari pre-commit hook to auto-fix mode
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/advanced/pre-commit-hooks.md
  docs/zh/advanced/pre-commit-hooks.md
  justfile
Due: prettier

Revert "chore: release v0.8.9"
  CHANGELOG.md
Due: none

fix(ci): exclude vx-msbuild-bridge from cargo-dist & improve skills sync
  .github/workflows/sync-skills.yml
  crates/vx-msbuild-bridge/Cargo.toml
Due: prettier

chore: update Cargo.lock to match workspace version 0.8.9
  Cargo.lock
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

