Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

chore(vx): drop justfile-duplicated [scripts] entries (#1203)
  vx.toml
Due: none

fix: serialize manifest runtime installations
  crates/vx-runtime/src/manifest_runtime/install.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/src/runtime/install_impl.rs
  crates/vx-runtime/tests/manifest_install_lock_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: discover published Kdenlive binaries
  crates/vx-cli/tests/kdenlive_provider_tests.rs
  crates/vx-providers/kdenlive/provider.star
  crates/vx-starlark/src/provider/html_versions.rs
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-starlark/stdlib/http.star
  crates/vx-starlark/tests/html_version_source_tests.rs
  docs/guide/provider-star-reference.md
  docs/tools/kdenlive.md
  docs/zh/guide/provider-star-reference.md
  docs/zh/tools/kdenlive.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: defer obs integration links until guide is available
  docs/tools/obs.md
  docs/zh/tools/obs.md
Due: none

fix: align workspace lock with release version
  Cargo.lock
Due: none

docs: defer kdenlive integration links until guide is available
  docs/tools/kdenlive.md
  docs/zh/tools/kdenlive.md
Due: none

docs: defer renderdoc integration links until guide is available
  docs/tools/renderdoc.md
  docs/zh/tools/renderdoc.md
Due: none

docs: defer tiled integration links until guide is available
  docs/tools/tiled.md
  docs/zh/tools/tiled.md
Due: none

docs: defer tracy integration links until guide is available
  docs/tools/tracy.md
  docs/zh/tools/tracy.md
Due: none

docs: link DCC hosts after integration guide is available
  docs/tools/kdenlive.md
  docs/tools/obs.md
  docs/tools/renderdoc.md
  docs/tools/tiled.md
  docs/tools/tracy.md
  docs/zh/tools/kdenlive.md
  docs/zh/tools/obs.md
  docs/zh/tools/renderdoc.md
  docs/zh/tools/tiled.md
  docs/zh/tools/tracy.md
Due: none

fix: drain subprocess output while waiting
  crates/vx-cli/tests/command_timeout_tests.rs
  crates/vx-cli/tests/common/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: bound guarded subprocess cleanup
  crates/vx-cli/tests/common/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: verify legacy Python distributions and build workflows
  .github/workflows/test-legacy-python.yml
  Cargo.lock
  crates/vx-providers/python/provider.star
  crates/vx-runtime-http/Cargo.toml
  crates/vx-runtime-http/src/installer.rs
  crates/vx-runtime-http/tests/artifact_integrity_tests.rs
  crates/vx-runtime/src/manifest_runtime/install.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/src/traits.rs
  crates/vx-runtime/tests/manifest_install_lock_tests.rs
  crates/vx-starlark/src/provider/execute.rs
  crates/vx-starlark/src/provider/types.rs
  crates/vx-starlark/tests/archive_integrity_tests.rs
  crates/vx-starlark/tests/python_legacy_tests.rs
  docs/guide/provider-star-layouts.md
  docs/tools/python.md
  docs/zh/tools/python.md
  scripts/test_legacy_python.py
  scripts/tests/test_legacy_python_harness.py
  tests/fixtures/legacy-python-build/native.c
  tests/fixtures/legacy-python-build/pyproject.toml
  tests/fixtures/legacy-python-build/setup.py
  tests/fixtures/legacy-python-build/vx_legacy_probe/__init__.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

test: attest offline legacy Python acceptance
  scripts/test_legacy_python.py
  scripts/tests/test_legacy_python_harness.py
Due: none

fix: isolate package execution from command shims
  crates/vx-cli/src/commands/global/handler.rs
  crates/vx-cli/src/commands/shim/args.rs
  crates/vx-cli/src/commands/shim/handler.rs
  crates/vx-cli/src/commands/shim/mod.rs
  crates/vx-cli/src/commands/shim/packages.rs
  crates/vx-cli/src/commands/shim/target.rs
  crates/vx-cli/src/lib.rs
  crates/vx-cli/tests/common/package_shims.rs
  crates/vx-cli/tests/global_shim_command_tests.rs
  crates/vx-cli/tests/package_shim_command_tests.rs
  crates/vx-cli/tests/shim_command_tests.rs
  crates/vx-ecosystem-pm/src/installers/bun.rs
  crates/vx-ecosystem-pm/tests/bun_installer_tests.rs
  crates/vx-paths/src/global_packages.rs
  crates/vx-paths/tests/package_registry_ownership_tests.rs
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/shim/generate.rs
  crates/vx-runtime/src/shim_registry.rs
  crates/vx-runtime/tests/command_shim_lifecycle_tests.rs
  crates/vx-runtime/tests/shim_tests.rs
  crates/vx-shim/src/executor.rs
  crates/vx-shim/tests/missing_executable_tests.rs
  docs/cli/shim.md
  docs/guide/managed-command-shims.md
  docs/zh/cli/shim.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test: avoid redundant clones in Unix shim coverage
  crates/vx-runtime/tests/command_shim_lifecycle_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: align workspace lockfile versions
  Cargo.lock
Due: none

fix: preserve shim ownership across path aliases
  crates/vx-cli/src/commands/shim/handler.rs
  crates/vx-cli/tests/common/package_shims.rs
  crates/vx-cli/tests/package_shim_command_tests.rs
  crates/vx-runtime/src/shim_registry.rs
  crates/vx-runtime/tests/command_shim_lifecycle_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(rust): validate numeric vx.toml rust pin without a rust-toolchain file
  crates/vx-cli/src/commands/check.rs
  crates/vx-cli/src/commands/setup.rs
  crates/vx-cli/tests/rust_pin_check_tests.rs
  crates/vx-config/src/types/check.rs
  crates/vx-config/src/types/config.rs
  crates/vx-config/src/types/mod.rs
  crates/vx-config/tests/check_config_tests.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/lib.rs
  crates/vx-resolver/src/rust_toolchain.rs
  crates/vx-resolver/tests/rust_toolchain_pin_validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test(rust): resolve the e2e rustc oracle the way the code under test does
  crates/vx-cli/src/commands/check.rs
  crates/vx-cli/tests/rust_pin_check_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): clear the three collateral failures on the DCC provider chain
  crates/vx-cli/tests/openscreen_provider_tests.rs
  crates/vx-providers/openscreen/provider.star
  docs/tools/kdenlive.md
  docs/tools/obs.md
  docs/tools/openscreen.md
  docs/zh/tools/kdenlive.md
  docs/zh/tools/obs.md
  docs/zh/tools/openscreen.md
  vx.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add tiled Provider
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .github/copilot-instructions.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  README.md
  README_zh.md
  crates/vx-cli/tests/tiled_provider_tests.rs
  crates/vx-providers/tiled/provider.star
  docs/advanced/architecture.md
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/manifest-driven-providers.md
  docs/index.md
  docs/tools/overview.md
  docs/tools/tiled.md
  docs/zh/advanced/architecture.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/tools/overview.md
  docs/zh/tools/tiled.md
  llms-full.txt
  llms.txt
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: preserve the Tiled macOS application bundle
  crates/vx-cli/tests/tiled_provider_tests.rs
  crates/vx-providers/tiled/provider.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add tracy Provider
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .github/copilot-instructions.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  README.md
  README_zh.md
  crates/vx-cli/tests/tracy_provider_tests.rs
  crates/vx-providers/tracy/provider.star
  docs/advanced/architecture.md
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/manifest-driven-providers.md
  docs/index.md
  docs/tools/overview.md
  docs/tools/tracy.md
  docs/zh/advanced/architecture.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/tools/overview.md
  docs/zh/tools/tracy.md
  llms-full.txt
  llms.txt
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: distinguish Tracy GUI and CLI validation
  crates/vx-cli/tests/tracy_provider_tests.rs
  crates/vx-providers/tracy/provider.star
  docs/tools/tracy.md
  docs/zh/tools/tracy.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(rust): honour [check] toolchain_pin_mismatch on the run path
  crates/vx-cli/tests/rust_pin_check_tests.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/executor/project_config.rs
  crates/vx-resolver/src/lib.rs
  crates/vx-resolver/tests/rust_pin_mismatch_severity_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(rust): honour [check] toolchain_pin_mismatch on the run path (#1209)
  crates/vx-cli/tests/rust_pin_check_tests.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/executor/project_config.rs
  crates/vx-resolver/src/lib.rs
  crates/vx-resolver/tests/rust_pin_mismatch_severity_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: isolate package execution from command shim lifecycle
  Cargo.lock
  crates/vx-cli/src/commands/global/handler.rs
  crates/vx-cli/src/commands/shim/args.rs
  crates/vx-cli/src/commands/shim/handler.rs
  crates/vx-cli/src/commands/shim/mod.rs
  crates/vx-cli/src/commands/shim/packages.rs
  crates/vx-cli/src/commands/shim/target.rs
  crates/vx-cli/src/lib.rs
  crates/vx-cli/tests/common/package_shims.rs
  crates/vx-cli/tests/global_shim_command_tests.rs
  crates/vx-cli/tests/package_shim_command_tests.rs
  crates/vx-cli/tests/shim_command_tests.rs
  crates/vx-ecosystem-pm/src/installers/bun.rs
  crates/vx-ecosystem-pm/tests/bun_installer_tests.rs
  crates/vx-paths/src/global_packages.rs
  crates/vx-paths/tests/package_registry_ownership_tests.rs
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/shim/generate.rs
  crates/vx-runtime/src/shim_registry.rs
  crates/vx-runtime/tests/command_shim_lifecycle_tests.rs
  crates/vx-runtime/tests/shim_tests.rs
  crates/vx-shim/src/executor.rs
  crates/vx-shim/tests/missing_executable_tests.rs
  docs/cli/shim.md
  docs/guide/managed-command-shims.md
  docs/zh/cli/shim.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(obs): do not fabricate Windows archive URLs
  crates/vx-cli/tests/obs_provider_tests.rs
  crates/vx-providers/obs/provider.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test: avoid blocked output in E2E process capture
  crates/vx-cli/tests/common/mod.rs
  crates/vx-cli/tests/common_timeout_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: align install script test fixtures with vx-org migration
  tests/install_script_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: bind CI artifacts and retain timeout output
  .github/workflows/ci-gate-sentinel.yml
  .github/workflows/ci.yml
  crates/vx-cli/tests/common/mod.rs
  crates/vx-cli/tests/common_timeout_tests.rs
  crates/vx-cli/tests/install_fix_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: bind integration tests to the Cargo candidate
  crates/vx-cli/tests/common/mod.rs
  crates/vx-cli/tests/common_timeout_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

