Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

ci: update GitHub Actions to latest versions
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/linux-packages.yml
  .github/workflows/package-managers.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
Due: prettier

refactor(cli): update commands and test utilities for runtime refactoring
  Cargo.lock
  crates/vx-cli/src/commands/check.rs
  crates/vx-cli/src/commands/common.rs
  crates/vx-cli/src/commands/dev/handler.rs
  crates/vx-cli/src/commands/execute.rs
  crates/vx-cli/src/commands/install/handler.rs
  crates/vx-cli/src/commands/setup.rs
  crates/vx-cli/src/commands/sync.rs
  crates/vx-cli/src/test_utils.rs
  crates/vx-cli/tests/cli_integration_tests.rs
  crates/vx-runtime-http/src/context.rs
  examples/extensions/hello-world/vx-extension.toml
  vx.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): resolve CI download URL failures
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/actrun/provider.star
  crates/vx-providers/hadolint/provider.star
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/llvm/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/rez/provider.star
  crates/vx-providers/sccache/provider.star
  crates/vx-providers/spack/provider.star
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/provider.star
Due: none

fix: resolve CI errors
  .github/workflows/benchmark.yml
  .github/workflows/docs.yml
  crates/vx-providers/node/tests/runtime_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix(ci): skip wix and xmake in CI tests
  .codebuddy/memory/2026-03-19.md
  .github/scripts/discover-providers.sh
Due: none

fix: add recursive search for bundled executables and remove wrong fallback
  .beads/.gitignore
  .beads/interactions.jsonl
  AGENTS.md
  crates/vx-resolver/src/executor/pipeline/stages/ensure.rs
  crates/vx-resolver/src/executor/pipeline/stages/prepare.rs
  crates/vx-runtime/src/manifest_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: remove obsolete promo video project
  vx-promo-video/.gitignore
  vx-promo-video/DEV_NOTES.md
  vx-promo-video/README.md
  vx-promo-video/package-lock.json
  vx-promo-video/package.json
  vx-promo-video/remotion.config.ts
  vx-promo-video/src/FullVideo.tsx
  vx-promo-video/src/Root.tsx
  vx-promo-video/src/components/AnimationUtils.tsx
  vx-promo-video/src/components/AudioComponents.tsx
  vx-promo-video/src/components/Background.tsx
  vx-promo-video/src/components/CodeBlock.tsx
  vx-promo-video/src/components/FloatingLogos.tsx
  vx-promo-video/src/components/GlowEffects.tsx
  vx-promo-video/src/components/ParticleField.tsx
  vx-promo-video/src/components/ProviderLogos.tsx
  vx-promo-video/src/components/TerminalAnimation.tsx
  vx-promo-video/src/components/TextEffects.tsx
  vx-promo-video/src/components/Title.tsx
  vx-promo-video/src/components/Transitions.tsx
  vx-promo-video/src/fonts.ts
  vx-promo-video/src/scenes/CallToActionScene.tsx
  vx-promo-video/src/scenes/FeaturesScene.tsx
  vx-promo-video/src/scenes/IntroScene.tsx
  vx-promo-video/src/scenes/MCPScene.tsx
  vx-promo-video/src/scenes/ProblemScene.tsx
  vx-promo-video/src/scenes/ProvidersScene.tsx
  vx-promo-video/src/scenes/SolutionScene.tsx
  vx-promo-video/tsconfig.json
Due: none

refactor(runtime): split runtime.rs into module and add ISP sub-traits
  crates/vx-runtime/src/context.rs
  crates/vx-runtime/src/github.rs
  crates/vx-runtime/src/impls/path_provider.rs
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/manifest_runtime.rs
  crates/vx-runtime/src/provider.rs
  crates/vx-runtime/src/provider_env.rs
  crates/vx-runtime/src/runtime/mod.rs
  crates/vx-runtime/src/runtime/subtrait.rs
  crates/vx-runtime/src/testing.rs
  crates/vx-runtime/src/traits.rs
  crates/vx-runtime/tests/manifest_split_tests.rs
  crates/vx-runtime/tests/registry_tests.rs
  crates/vx-runtime/tests/runtime_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(just): correct version_pattern to match 'just X.Y' output
  crates/vx-providers/just/provider.star
Due: none

fix(starlark): lower provider loading log level from info to debug
  crates/vx-starlark/src/provider/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(windows): resolve OS error 193 when executing bundled runtimes (npm/npx)
  crates/vx-resolver/src/executor/command.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: ensure rust targets are installed in CI
  .github/actions/setup-rust-sccache/action.yml
Due: prettier

feat(list): sort tool list alphabetically (a-z)
  crates/vx-cli/src/commands/list/handler.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(resolver): implement version priority with vx.lock support
  crates/vx-resolver/src/executor/pipeline/plan.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/executor/project_config.rs
  crates/vx-resolver/tests/project_config_tests.rs
  tests/e2e_cache_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: stabilize test suite and version constraint parsing
  .config/nextest.toml
  crates/vx-versions/src/resolver/core.rs
  crates/vx-versions/tests/version_request_tests.rs
  tests/cli_integration_tests.rs
  tests/e2e_benchmark_tests.rs
  tests/e2e_cache_providers_tests.rs
  tests/e2e_uninstall_where_tests.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: improve installer fallback and mirror release support
  README.md
  README_zh.md
  docs/guides/github-action.md
  install.ps1
  install.sh
Due: none

fix(lint): resolve provider.star lint issues
  crates/vx-providers/7zip/provider.star
  crates/vx-providers/brew/provider.star
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/choco/provider.star
  crates/vx-providers/curl/provider.star
  crates/vx-providers/git/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/hadolint/provider.star
  crates/vx-providers/make/provider.star
  crates/vx-providers/node/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/sccache/provider.star
  crates/vx-providers/systemctl/provider.star
  crates/vx-providers/terraform/provider.star
Due: none

chore: update Cargo.lock and trailing whitespace cleanup
  Cargo.lock
  Cargo.toml
Due: none

fix: flatten InstallLayout JSON so manifest_runtime can read strip_prefix
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/linux-packages.yml
  .github/workflows/package-managers.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
  crates/vx-starlark/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: resolve CI failures for yq, wix, xmake, vcpkg providers
  .codebuddy/memory/2026-03-19.md
  Cargo.lock
  crates/vx-cli/src/commands/test/handler.rs
  crates/vx-providers/vcpkg/provider.star
  crates/vx-providers/wix/provider.star
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/provider.star
  crates/vx-starlark/src/provider/execute.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: address provider CI regressions
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/gcloud/provider.star
  crates/vx-providers/llvm/provider.star
  crates/vx-star-metadata/tests/discovery_tests.rs
  crates/vx-starlark/src/provider/execute.rs
  crates/vx-starlark/tests/provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: propagate locked version to bundled runtime dependencies
  .github/workflows/ci.yml
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/runtime_index.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: unblock remaining CI regressions
  crates/vx-cli/tests/install_bundled_runtime_tests.rs
  crates/vx-config/tests/testing_tests.rs
  crates/vx-resolver/tests/resolver_tests.rs
  crates/vx-runtime/tests/runtime_tests.rs
  justfile
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: use struct attribute access ctx.platform.os instead of dict access ctx[platform][os] in stdlib star files
  crates/vx-starlark/stdlib/github.star
  crates/vx-starlark/stdlib/install.star
  crates/vx-starlark/stdlib/platform.star
Due: none

fix(ci): improve sccache path handling on Windows
  .github/workflows/ci.yml
Due: prettier

fix(versions): case-insensitive Ecosystem deserialization for vx.lock compatibility
  crates/vx-versions/src/ecosystem.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve .cmd executables for bundled runtimes on Windows
  crates/vx-runtime/src/manifest_runtime/detection.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-starlark/src/handle.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: temp_dir unbound variable in install.sh and uv strip_prefix
  crates/vx-providers/uv/provider.star
  install.sh
Due: none

fix: add is_version_installable and prepare_execution for bundled runtimes
  crates/vx-runtime/src/manifest_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: hadolint asset name separator and uvx bundled_with support
  crates/vx-cli/src/registry.rs
  crates/vx-providers/hadolint/provider.star
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/src/provider/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add build cache providers (sccache, ccache, buildcache)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/vx-cli/Cargo.toml
  crates/vx-cli/src/ui.rs
  crates/vx-providers/buildcache/Cargo.toml
  crates/vx-providers/buildcache/lib.rs
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/Cargo.toml
  crates/vx-providers/ccache/lib.rs
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/kubectl/provider.star
  crates/vx-providers/openssl/provider.star
  crates/vx-providers/sccache/Cargo.toml
  crates/vx-providers/sccache/lib.rs
  crates/vx-providers/sccache/provider.star
  crates/workspace-hack/Cargo.toml
  docs/guide/best-practices.md
  docs/tools/build-cache.md
  docs/tools/build-tools.md
  tests/e2e_benchmark_tests.rs
  tests/e2e_uninstall_where_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: add Starlark Providers advanced guide (bilingual)
  docs/guide/manifest-driven-providers.md
  docs/guide/starlark-providers.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/guide/starlark-providers.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

