Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

feat: add helix and yazi providers
  Cargo.lock
  Cargo.toml
  crates/vx-providers/helix/Cargo.toml
  crates/vx-providers/helix/lib.rs
  crates/vx-providers/helix/provider.star
  crates/vx-providers/yazi/Cargo.toml
  crates/vx-providers/yazi/lib.rs
  crates/vx-providers/yazi/provider.star
  tests/e2e_new_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add 7 high-priority developer tool providers (lazygit, delta, hyperfine, zoxide, atuin, chezmoi, eza)
  Cargo.lock
  Cargo.toml
  crates/vx-providers/atuin/Cargo.toml
  crates/vx-providers/atuin/lib.rs
  crates/vx-providers/atuin/provider.star
  crates/vx-providers/chezmoi/Cargo.toml
  crates/vx-providers/chezmoi/lib.rs
  crates/vx-providers/chezmoi/provider.star
  crates/vx-providers/delta/Cargo.toml
  crates/vx-providers/delta/lib.rs
  crates/vx-providers/delta/provider.star
  crates/vx-providers/eza/Cargo.toml
  crates/vx-providers/eza/lib.rs
  crates/vx-providers/eza/provider.star
  crates/vx-providers/hyperfine/Cargo.toml
  crates/vx-providers/hyperfine/lib.rs
  crates/vx-providers/hyperfine/provider.star
  crates/vx-providers/lazygit/Cargo.toml
  crates/vx-providers/lazygit/lib.rs
  crates/vx-providers/lazygit/provider.star
  crates/vx-providers/zoxide/Cargo.toml
  crates/vx-providers/zoxide/lib.rs
  crates/vx-providers/zoxide/provider.star
  tests/e2e_new_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add 11 new providers (mise, gitleaks, biome, lazydocker, k9s, gping, watchexec, duf, trippy, sd, actionlint)
  Cargo.lock
  Cargo.toml
  crates/vx-providers/actionlint/Cargo.toml
  crates/vx-providers/actionlint/lib.rs
  crates/vx-providers/actionlint/provider.star
  crates/vx-providers/biome/Cargo.toml
  crates/vx-providers/biome/lib.rs
  crates/vx-providers/biome/provider.star
  crates/vx-providers/duf/Cargo.toml
  crates/vx-providers/duf/lib.rs
  crates/vx-providers/duf/provider.star
  crates/vx-providers/gitleaks/Cargo.toml
  crates/vx-providers/gitleaks/lib.rs
  crates/vx-providers/gitleaks/provider.star
  crates/vx-providers/gping/Cargo.toml
  crates/vx-providers/gping/lib.rs
  crates/vx-providers/gping/provider.star
  crates/vx-providers/k9s/Cargo.toml
  crates/vx-providers/k9s/lib.rs
  crates/vx-providers/k9s/provider.star
  crates/vx-providers/lazydocker/Cargo.toml
  crates/vx-providers/lazydocker/lib.rs
  crates/vx-providers/lazydocker/provider.star
  crates/vx-providers/mise/Cargo.toml
  crates/vx-providers/mise/lib.rs
  crates/vx-providers/mise/provider.star
  crates/vx-providers/sd/Cargo.toml
  crates/vx-providers/sd/lib.rs
  crates/vx-providers/sd/provider.star
  crates/vx-providers/trippy/Cargo.toml
  crates/vx-providers/trippy/lib.rs
  crates/vx-providers/trippy/provider.star
  crates/vx-providers/watchexec/Cargo.toml
  crates/vx-providers/watchexec/lib.rs
  crates/vx-providers/watchexec/provider.star
  tests/e2e_new_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add 7 new providers (tealdeer, dust, xh, bottom, trivy, zellij, dive)
  Cargo.lock
  Cargo.toml
  crates/vx-providers/bottom/Cargo.toml
  crates/vx-providers/bottom/lib.rs
  crates/vx-providers/bottom/provider.star
  crates/vx-providers/dive/Cargo.toml
  crates/vx-providers/dive/lib.rs
  crates/vx-providers/dive/provider.star
  crates/vx-providers/dust/Cargo.toml
  crates/vx-providers/dust/lib.rs
  crates/vx-providers/dust/provider.star
  crates/vx-providers/tealdeer/Cargo.toml
  crates/vx-providers/tealdeer/lib.rs
  crates/vx-providers/tealdeer/provider.star
  crates/vx-providers/trivy/Cargo.toml
  crates/vx-providers/trivy/lib.rs
  crates/vx-providers/trivy/provider.star
  crates/vx-providers/xh/Cargo.toml
  crates/vx-providers/xh/lib.rs
  crates/vx-providers/xh/provider.star
  crates/vx-providers/zellij/Cargo.toml
  crates/vx-providers/zellij/lib.rs
  crates/vx-providers/zellij/provider.star
  tests/e2e_new_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): resolve CI issues for new provider batch
  crates/vx-providers/actionlint/provider.star
  crates/vx-providers/biome/provider.star
  crates/vx-providers/dive/provider.star
  crates/vx-providers/duf/provider.star
  crates/vx-providers/eza/provider.star
  crates/vx-providers/gitleaks/provider.star
  crates/vx-providers/helix/provider.star
  crates/vx-providers/k9s/provider.star
  crates/vx-providers/lazydocker/provider.star
  crates/vx-providers/lazygit/provider.star
  crates/vx-providers/mise/provider.star
  crates/vx-providers/tealdeer/provider.star
  crates/vx-providers/trivy/provider.star
  crates/vx-providers/yazi/provider.star
  vx.lock
Due: none

fix: import env_prepend from env.star instead of provider.star
  crates/vx-providers/actionlint/provider.star
  crates/vx-providers/biome/provider.star
  crates/vx-providers/dive/provider.star
  crates/vx-providers/duf/provider.star
  crates/vx-providers/eza/provider.star
  crates/vx-providers/gitleaks/provider.star
  crates/vx-providers/gping/provider.star
  crates/vx-providers/helix/provider.star
  crates/vx-providers/k9s/provider.star
  crates/vx-providers/lazydocker/provider.star
  crates/vx-providers/lazygit/provider.star
  crates/vx-providers/mise/provider.star
  crates/vx-providers/tealdeer/provider.star
  crates/vx-providers/trivy/provider.star
  crates/vx-providers/yazi/provider.star
Due: none

fix(watchexec): remove unused load imports to pass provider static lint
  crates/vx-providers/watchexec/provider.star
Due: none

fix(providers): resolve tealdeer and mise install layouts
  crates/vx-providers/mise/provider.star
  crates/vx-providers/mise/tests/starlark_logic_tests.rs
  crates/vx-providers/tealdeer/provider.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(watchexec): use .zip on Windows, .tar.xz on Linux/macOS
  crates/vx-providers/watchexec/provider.star
Due: none

fix(providers): fix dust version pattern and tealdeer binary rename
  crates/vx-providers/dust/provider.star
  crates/vx-providers/tealdeer/provider.star
Due: none

fix(gcloud): update starlark test to use __type field
  crates/vx-providers/gcloud/tests/starlark_logic_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore(gcloud): update package comment to trigger targeted CI
  crates/vx-providers/gcloud/Cargo.toml
Due: none

ci: trigger full CI by updating workflow comment
  .github/workflows/ci.yml
Due: prettier

test(gcloud): add comment to trigger CI run with test fixes
  crates/vx-providers/gcloud/tests/starlark_logic_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(mise): avoid strip_prefix on Windows to prevent Access Denied errors
  crates/vx-providers/mise/provider.star
Due: none

fix(mise): update unit tests to match new install_layout implementation
  crates/vx-providers/mise/tests/starlark_logic_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): fix gcloud get_execute_path and terraform fetch_versions
  crates/vx-providers/gcloud/provider.star
  crates/vx-providers/terraform/provider.star
Due: none

fix(mise): use strip_prefix='mise/bin' on Windows to avoid shim detection error
  crates/vx-providers/mise/provider.star
Due: none

test(gcloud): add test for unknown OS platform guard returning None
  crates/vx-providers/gcloud/tests/starlark_logic_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): fix dust and eza macOS download URL 404
  crates/vx-providers/dust/provider.star
  crates/vx-providers/eza/provider.star
Due: none

fix(eza): add platform_constraint to skip macOS in CI tests
  crates/vx-providers/eza/provider.star
Due: none
