Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

fix: resolve CI errors
  .github/workflows/benchmark.yml
  .github/workflows/docs.yml
  crates/vx-providers/node/tests/runtime_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: use child version for bundled proxy runtime installation
  Cargo.lock
  crates/vx-cli/src/commands/dev/handler.rs
  crates/vx-installer/Cargo.toml
  crates/vx-installer/src/formats/tar.rs
  crates/vx-resolver/src/executor/installation.rs
  crates/vx-runtime/src/manifest_runtime.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-starlark/src/test_mocks.rs
  vx.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: use struct attribute access ctx.platform.os instead of dict access ctx[platform][os] in stdlib star files
  crates/vx-starlark/stdlib/github.star
  crates/vx-starlark/stdlib/install.star
  crates/vx-starlark/stdlib/platform.star
Due: none

fix(ci): install sccache in quick-test job
  .github/workflows/test-providers.yml
Due: prettier

fix: improve installer fallback and mirror release support
  README.md
  README_zh.md
  docs/guides/github-action.md
  install.ps1
  install.sh
Due: none

ci: fix hakari workspace checks and test timeouts
  .gitattributes
  .github/workflows/ci.yml
  crates/workspace-hack/Cargo.toml
Due: prettier

fix: replace all ctx.http.get_json with fetch_json_versions descriptors in provider.star files
  crates/vx-providers/dotnet/provider.star
  crates/vx-providers/gcloud/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/java/provider.star
  crates/vx-providers/jq/provider.star
  crates/vx-providers/node/provider.star
  crates/vx-providers/uv/provider.star
  crates/vx-providers/vite/provider.star
  crates/vx-providers/vscode/provider.star
Due: none

fix: temp_dir unbound variable in install.sh and uv strip_prefix
  crates/vx-providers/uv/provider.star
  install.sh
Due: none

fix(ci): use system cargo directly instead of vx cargo
  .github/workflows/ci.yml
Due: prettier

ci: update GitHub Actions to latest versions
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/linux-packages.yml
  .github/workflows/package-managers.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
Due: prettier

fix(7zip): fix executable name and system_paths to point to binary file
  crates/vx-providers/7zip/provider.star
Due: none

fix: inject parent runtime env for bundled runtimes (npm/node PATH issue)
  crates/vx-cli/build.rs
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/src/runtime_map.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-starlark/src/provider/builder.rs
  crates/vx-system-pm/src/managers/scoop.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): add sccache setup to all CI workflows
  .github/workflows/codeql.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
Due: prettier

fix: add workspace-hack deps and remove invalid CI cache parameter
  .github/workflows/ci.yml
  Cargo.lock
  crates/vx-providers/buildcache/Cargo.toml
  crates/vx-providers/ccache/Cargo.toml
  crates/vx-providers/nx/Cargo.toml
  crates/vx-providers/sccache/Cargo.toml
  crates/vx-providers/turbo/Cargo.toml
  crates/workspace-hack/Cargo.toml
Due: prettier

chore: update Cargo.lock and trailing whitespace cleanup
  Cargo.lock
  Cargo.toml
Due: none

docs: update rules to reflect provider.star migration
  .codebuddy/rules/Provider开发指南.mdc
  .codebuddy/rules/no-provider-platform-constraint-key.mdc
  .codebuddy/rules/vx-best-practices.mdc
  .codebuddy/rules/动态执行器.mdc
  .codebuddy/rules/存储架构.mdc
  .codebuddy/rules/项目架构.mdc
Due: none

fix: remove unused loads and fix lint issues in provider.star files
  crates/vx-providers/7zip/provider.star
  crates/vx-providers/actrun/provider.star
  crates/vx-providers/awscli/provider.star
  crates/vx-providers/azcli/provider.star
  crates/vx-providers/bash/provider.star
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/choco/provider.star
  crates/vx-providers/cmake/provider.star
  crates/vx-providers/deno/provider.star
  crates/vx-providers/docker/provider.star
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/gh/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/node/provider.star
  crates/vx-providers/nuget/provider.star
  crates/vx-providers/terraform/provider.star
  crates/vx-providers/vcpkg/provider.star
  crates/vx-providers/yarn/provider.star
  crates/vx-starlark/src/engine.rs
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-starlark/stdlib/provider_templates.star
  examples/providers/build-tools/provider.star
  examples/providers/git-tools/provider.star
  examples/providers/modern-cli-tools/provider.star
  examples/providers/network-tools/provider.star
  examples/providers/shell-tools/provider.star
  examples/providers/unix-tools/provider.star
  install.ps1
  install.sh
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): resolve CI download URL failures
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/actrun/provider.star
  crates/vx-providers/hadolint/provider.star
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/llvm/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/rez/provider.star
  crates/vx-providers/sccache/provider.star
  crates/vx-providers/spack/provider.star
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/provider.star
Due: none

fix: resolve CI failures for yq, wix, xmake, vcpkg providers
  .codebuddy/memory/2026-03-19.md
  Cargo.lock
  crates/vx-cli/src/commands/test/handler.rs
  crates/vx-providers/vcpkg/provider.star
  crates/vx-providers/wix/provider.star
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/provider.star
  crates/vx-starlark/src/provider/execute.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve Linux CI failures for ffplay/ffprobe/gofmt/lld/xmake/yq
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/llvm/provider.star
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/provider.star
Due: none

fix: resolve macOS CI failures for ffmpeg and imagemagick
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/imagemagick/provider.star
Due: none

fix: resolve CI failures for imagemagick, ffmpeg, rez, bash, make, nasm
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/bash/provider.star
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/make/provider.star
  crates/vx-providers/nasm/provider.star
  crates/vx-providers/rez/provider.star
Due: none

fix: fix system_install providers and starlark test assertions (round 5)
  .codebuddy/memory/2026-03-19.md
  crates/vx-providers/actrun/tests/starlark_logic_tests.rs
  crates/vx-providers/bash/provider.star
  crates/vx-providers/ccache/tests/starlark_logic_tests.rs
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-providers/ffmpeg/tests/starlark_logic_tests.rs
  crates/vx-providers/hadolint/tests/starlark_logic_tests.rs
  crates/vx-providers/imagemagick/provider.star
  crates/vx-providers/imagemagick/tests/starlark_logic_tests.rs
  crates/vx-providers/make/provider.star
  crates/vx-providers/nasm/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/pnpm/tests/starlark_logic_tests.rs
  crates/vx-providers/pwsh/provider.star
  crates/vx-providers/rcedit/provider.star
  crates/vx-providers/rcedit/tests/starlark_logic_tests.rs
  crates/vx-providers/vcpkg/tests/starlark_logic_tests.rs
  crates/vx-providers/xmake/provider.star
  crates/vx-providers/yq/tests/starlark_logic_tests.rs
  crates/vx-starlark/src/provider/execute.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): fix discovery parser and CI skip list for Linux/macOS failures
  .codebuddy/memory/2026-03-19.md
  .github/scripts/discover-providers.sh
  crates/vx-providers/pwsh/provider.star
  crates/vx-providers/yq/provider.star
  crates/vx-star-metadata/src/discovery.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-star-metadata/tests/discovery_tests.rs
  crates/vx-star-metadata/tests/metadata_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): skip wix and xmake in CI tests
  .codebuddy/memory/2026-03-19.md
  .github/scripts/discover-providers.sh
Due: none

fix: resolve .cmd executables for bundled runtimes on Windows
  crates/vx-runtime/src/manifest_runtime/detection.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-starlark/src/handle.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(windows): resolve OS error 193 when executing bundled runtimes (npm/npx)
  crates/vx-resolver/src/executor/command.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): increase Windows timeout to prevent CI failures
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  crates/vx-cli/src/system_tools.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: address provider CI regressions
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/gcloud/provider.star
  crates/vx-providers/llvm/provider.star
  crates/vx-star-metadata/tests/discovery_tests.rs
  crates/vx-starlark/src/provider/execute.rs
  crates/vx-starlark/tests/provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(resolver): integrate ResolutionCache into execution pipeline
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/src/executor/executor.rs
  crates/vx-resolver/src/executor/mod.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/lib.rs
  crates/vx-resolver/src/resolution_cache.rs
  crates/vx-resolver/src/resolver.rs
  crates/vx-resolver/src/version/request.rs
  crates/vx-resolver/tests/resolution_cache_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: stabilize test suite and version constraint parsing
  .config/nextest.toml
  crates/vx-versions/src/resolver/core.rs
  crates/vx-versions/tests/version_request_tests.rs
  tests/cli_integration_tests.rs
  tests/e2e_benchmark_tests.rs
  tests/e2e_cache_providers_tests.rs
  tests/e2e_uninstall_where_tests.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: inject parent runtime PATH for bundled runtimes via spec env_config
  crates/vx-resolver/src/executor/environment.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve CI errors
  tests/e2e_install_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests
