Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

fix: resolve compiler errors in test files
  crates/vx-runtime/tests/constraints_tests.rs
  crates/vx-runtime/tests/manifest_registry_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: wire provider dynamic deps and fix install routing
  crates/vx-cli/src/commands/global/handler.rs
  crates/vx-cli/src/commands/install/handler.rs
  crates/vx-cli/src/error_handler.rs
  crates/vx-cli/tests/cli_integration_tests.rs
  crates/vx-config/presets/fullstack.toml
  crates/vx-paths/src/safety_net.rs
  crates/vx-resolver/src/executor/bin_dir_cache.rs
  crates/vx-resolver/src/executor/executor.rs
  crates/vx-resolver/src/executor/path_builder.rs
  crates/vx-resolver/src/executor/pipeline/error.rs
  crates/vx-resolver/src/executor/pipeline/stages/execute.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/executor/version_utils.rs
  crates/vx-resolver/src/resolver.rs
  crates/vx-resolver/src/runtime_map.rs
  crates/vx-resolver/tests/resolution_cache_tests.rs
  crates/vx-resolver/tests/resolver_tests.rs
  crates/vx-resolver/tests/runtime_map_tests.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/src/runtime/mod.rs
  crates/vx-runtime/src/utils.rs
  crates/vx-starlark/src/provider/bridge.rs
  crates/vx-starlark/src/provider/builder.rs
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/tests/provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: flatten InstallLayout JSON so manifest_runtime can read strip_prefix
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/linux-packages.yml
  .github/workflows/package-managers.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
  crates/vx-starlark/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: resolve CI errors
  tests/e2e_install_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(manifest-runtime): override resolve_version to return 'system' for system tools
  crates/vx-runtime/src/manifest_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(cli): update commands and test utilities for runtime refactoring
  Cargo.lock
  crates/vx-cli/src/commands/check.rs
  crates/vx-cli/src/commands/common.rs
  crates/vx-cli/src/commands/dev/handler.rs
  crates/vx-cli/src/commands/execute.rs
  crates/vx-cli/src/commands/install/handler.rs
  crates/vx-cli/src/commands/setup.rs
  crates/vx-cli/src/commands/sync.rs
  crates/vx-cli/src/test_utils.rs
  crates/vx-cli/tests/cli_integration_tests.rs
  crates/vx-runtime-http/src/context.rs
  examples/extensions/hello-world/vx-extension.toml
  vx.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: address provider CI regressions
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/gcloud/provider.star
  crates/vx-providers/llvm/provider.star
  crates/vx-star-metadata/tests/discovery_tests.rs
  crates/vx-starlark/src/provider/execute.rs
  crates/vx-starlark/tests/provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: ensure rust targets are installed in CI
  .github/actions/setup-rust-sccache/action.yml
Due: prettier

feat: add Nx and Turborepo cache providers, fix CI sccache issue
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/vx-providers/nx/Cargo.toml
  crates/vx-providers/nx/lib.rs
  crates/vx-providers/nx/provider.star
  crates/vx-providers/turbo/Cargo.toml
  crates/vx-providers/turbo/lib.rs
  crates/vx-providers/turbo/provider.star
  docs/tools/build-cache.md
  tests/e2e_cache_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: handle VX_VERSION=latest in install scripts
  install.ps1
  install.sh
Due: none

fix: repair provider test resolution and platform gating
  crates/vx-cli/src/commands/install/handler.rs
  crates/vx-cli/src/commands/test/handler.rs
  crates/vx-providers/7zip/provider.star
  crates/vx-providers/brew/provider.star
  crates/vx-providers/buildcache/provider.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(resolver): implement version priority with vx.lock support
  crates/vx-resolver/src/executor/pipeline/plan.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/executor/project_config.rs
  crates/vx-resolver/tests/project_config_tests.rs
  tests/e2e_cache_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: align starlark mock signatures with stdlib and fix provider tests
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/docker/tests/starlark_logic_tests.rs
  crates/vx-providers/gh/provider.star
  crates/vx-providers/msvc/tests/starlark_logic_tests.rs
  crates/vx-providers/node/provider.star
  crates/vx-starlark/src/test_mocks.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: exclude vx-star-metadata from cargo-hakari workspace-hack
  .config/hakari.toml
Due: none

ci: tighten workflow gates and migrate provider discovery
  .github/scripts/discover-providers.sh
  .github/workflows/ci.yml
  .github/workflows/test-action.yml
  .github/workflows/test-docker.yml
  .github/workflows/test-providers.yml
  crates/vx-star-metadata/Cargo.toml
  crates/vx-star-metadata/src/bin/discover_providers.rs
  crates/vx-star-metadata/src/discovery.rs
  crates/vx-star-metadata/src/lib.rs
  crates/vx-star-metadata/src/parser.rs
  crates/vx-star-metadata/tests/discovery_tests.rs
  crates/vx-star-metadata/tests/metadata_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

feat: add build cache providers (sccache, ccache, buildcache)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/vx-cli/Cargo.toml
  crates/vx-cli/src/ui.rs
  crates/vx-providers/buildcache/Cargo.toml
  crates/vx-providers/buildcache/lib.rs
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/Cargo.toml
  crates/vx-providers/ccache/lib.rs
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/kubectl/provider.star
  crates/vx-providers/openssl/provider.star
  crates/vx-providers/sccache/Cargo.toml
  crates/vx-providers/sccache/lib.rs
  crates/vx-providers/sccache/provider.star
  crates/workspace-hack/Cargo.toml
  docs/guide/best-practices.md
  docs/tools/build-cache.md
  docs/tools/build-tools.md
  tests/e2e_benchmark_tests.rs
  tests/e2e_uninstall_where_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: add recursive search for bundled executables and remove wrong fallback
  .beads/.gitignore
  .beads/interactions.jsonl
  AGENTS.md
  crates/vx-resolver/src/executor/pipeline/stages/ensure.rs
  crates/vx-resolver/src/executor/pipeline/stages/prepare.rs
  crates/vx-runtime/src/manifest_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(resolver): integrate ResolutionCache into execution pipeline
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/src/executor/executor.rs
  crates/vx-resolver/src/executor/mod.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/lib.rs
  crates/vx-resolver/src/resolution_cache.rs
  crates/vx-resolver/src/resolver.rs
  crates/vx-resolver/src/version/request.rs
  crates/vx-resolver/tests/resolution_cache_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: unblock remaining CI regressions
  crates/vx-cli/tests/install_bundled_runtime_tests.rs
  crates/vx-config/tests/testing_tests.rs
  crates/vx-resolver/tests/resolver_tests.rs
  crates/vx-runtime/tests/runtime_tests.rs
  justfile
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: inject parent runtime PATH for bundled runtimes via spec env_config
  crates/vx-resolver/src/executor/environment.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(env,version-fetcher): eliminate platform/version utils duplication
  crates/vx-env/Cargo.toml
  crates/vx-env/src/tool_env.rs
  crates/vx-version-fetcher/Cargo.toml
  crates/vx-version-fetcher/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ai): fix skills format and install all 5 skills on setup
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/src/skills/vx-best-practices/SKILL.md
  crates/vx-cli/src/skills/vx-commands/SKILL.md
  crates/vx-cli/src/skills/vx-project/SKILL.md
  crates/vx-cli/src/skills/vx-troubleshooting/SKILL.md
  crates/vx-cli/src/skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(runtime): split runtime.rs into module and add ISP sub-traits
  crates/vx-runtime/src/context.rs
  crates/vx-runtime/src/github.rs
  crates/vx-runtime/src/impls/path_provider.rs
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/manifest_runtime.rs
  crates/vx-runtime/src/provider.rs
  crates/vx-runtime/src/provider_env.rs
  crates/vx-runtime/src/runtime/mod.rs
  crates/vx-runtime/src/runtime/subtrait.rs
  crates/vx-runtime/src/testing.rs
  crates/vx-runtime/src/traits.rs
  crates/vx-runtime/tests/manifest_split_tests.rs
  crates/vx-runtime/tests/registry_tests.rs
  crates/vx-runtime/tests/runtime_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: fix PSReadLine cursor positioning issue in PowerShell prompt
  crates/vx-cli/src/commands/dev/export.rs
  crates/vx-env/assets/shell/powershell_init.ps1
  crates/vx-env/src/shell/powershell.rs
  crates/vx-env/src/spawner.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): improve sccache path handling on Windows
  .github/workflows/ci.yml
Due: prettier

fix: use bin/bash.exe for git-bash instead of git-bash.exe --attach
  crates/vx-cli/src/lib.rs
  crates/vx-providers/git/provider.star
  docs/cli/implicit-package-execution.md
  docs/zh/cli/implicit-package-execution.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor(runtime-core): remove dead Runtime trait and provider machinery
  crates/vx-runtime-core/src/lib.rs
  crates/vx-runtime-core/src/provider.rs
  crates/vx-runtime-core/src/registry.rs
  crates/vx-runtime-core/src/runtime.rs
  crates/vx-runtime-core/src/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(starlark): lower provider loading log level from info to debug
  crates/vx-starlark/src/provider/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(starlark): register all 14 stdlib modules in loader
  crates/vx-starlark/src/loader.rs
  crates/vx-starlark/tests/loader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: replace all ctx dict access with struct attribute access in provider star files
  crates/vx-providers/dotnet/provider.star
  crates/vx-providers/gcloud/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/java/provider.star
  crates/vx-providers/jq/provider.star
  crates/vx-providers/nasm/provider.star
  crates/vx-providers/ninja/provider.star
  crates/vx-providers/node/provider.star
  crates/vx-providers/nuget/provider.star
  crates/vx-providers/ollama/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/systemctl/provider.star
  crates/vx-providers/vite/provider.star
  crates/vx-providers/vscode/provider.star
  crates/vx-starlark/tests/engine_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

refactor: optimize provider.star files using stdlib templates
  crates/vx-providers/bat/provider.star
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/jq/provider.star
  crates/vx-providers/sccache/provider.star
  crates/vx-providers/terraform/provider.star
Due: none

fix(just): correct version_pattern to match 'just X.Y' output
  crates/vx-providers/just/provider.star
Due: none

fix: propagate locked version to bundled runtime dependencies
  .github/workflows/ci.yml
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/runtime_index.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

