Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

docs: add the adoption snapshot to the Chinese baseline
  docs/zh/guide/tool-pin-baseline.md
Due: none

docs: refine tool pin baseline (artifact class, maturin)
  docs/guide/tool-pin-baseline.md
Due: none

docs: add Chinese tool pin baseline
  docs/zh/guide/tool-pin-baseline.md
Due: none

docs: add tool pin baseline to the guide sidebar
  docs/.vitepress/config.ts
Due: none

docs: add tool pin baseline for vx.toml [tools]
  docs/guide/tool-pin-baseline.md
Due: none

fix(ai): keep internal platform names out of published skills
  crates/vx-cli/src/commands/ai.rs
  skills/vx-agent-workflow/SKILL.md
  skills/vx-best-practices/SKILL.md
  skills/vx-commands/SKILL.md
  skills/vx-project/SKILL.md
  skills/vx-troubleshooting/SKILL.md
  skills/vx-usage/SKILL.md
  skills/worktrunk/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(ai): verify skills globally and converge repos onto the global install
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/tests/ai_setup_tests.rs
  docs/cli/commands.md
  docs/config/vx-toml.md
  justfile
  llms.txt
  skills/README.md
  skills/vx-agent-workflow/SKILL.md
  skills/vx-best-practices/SKILL.md
  skills/vx-commands/SKILL.md
  skills/vx-project/SKILL.md
  skills/vx-repo-contract/SKILL.md
  skills/vx-troubleshooting/SKILL.md
  skills/vx-usage/SKILL.md
  skills/worktrunk/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ai): do not treat every existing agent skills dir as a vx install target
  crates/vx-cli/src/commands/ai.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: consolidate agent instructions into a single AGENTS.md
  .clinerules
  .cursorrules
  .windsurfrules
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/advanced/ai-agent-guide.md
  docs/integrations/claude.md
  docs/integrations/cline.md
  docs/integrations/cursor.md
  docs/integrations/gemini.md
  docs/integrations/windsurf.md
Due: none

docs: link to AGENTS.md on GitHub instead of a path outside the VitePress srcDir
  docs/advanced/ai-agent-guide.md
  docs/integrations/claude.md
  docs/integrations/cline.md
  docs/integrations/cursor.md
  docs/integrations/gemini.md
  docs/integrations/windsurf.md
Due: none

docs: fix Repo layout path to crates/vx-runtime-core
  AGENTS.md
Due: none

docs: rename stale vx-core crate references to vx-runtime-core
  docs/CONVENTIONS.md
  docs/advanced/contributing.md
  docs/architecture/OVERVIEW.md
  llms-full.txt
Due: none

docs: remove remaining stale vx-core crate references
  docs/advanced/architecture.md
  docs/advanced/plugin-development.md
  docs/architecture/OVERVIEW.md
  docs/zh/advanced/architecture.md
  docs/zh/advanced/contributing.md
  docs/zh/advanced/plugin-development.md
  scripts/check-architecture.sh
Due: none

docs: remove remaining stale vx-core crate references (#1175)
  docs/advanced/architecture.md
  docs/advanced/plugin-development.md
  docs/architecture/OVERVIEW.md
  docs/zh/advanced/architecture.md
  docs/zh/advanced/contributing.md
  docs/zh/advanced/plugin-development.md
  scripts/check-architecture.sh
Due: none

fix(ci): point repo contract gate at upstream main
  .github/workflows/repo-contract.yml
Due: prettier

ci: adopt the dcc-mcp repository contract gate
  .github/workflows/repo-contract.yml
Due: prettier

ci: install a pinned Go toolchain instead of relying on the runner image
  .github/workflows/ci.yml
Due: prettier

chore: sync Cargo.lock with the v0.9.33 workspace version bump
  Cargo.lock
Due: none

feat(ai): verify skills in global scope and converge repos onto the global install
  .github/workflows/ci.yml
  Cargo.lock
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/tests/ai_setup_tests.rs
  docs/cli/commands.md
  docs/config/vx-toml.md
  justfile
  llms.txt
  skills/README.md
  skills/vx-agent-workflow/SKILL.md
  skills/vx-best-practices/SKILL.md
  skills/vx-commands/SKILL.md
  skills/vx-project/SKILL.md
  skills/vx-repo-contract/SKILL.md
  skills/vx-troubleshooting/SKILL.md
  skills/vx-usage/SKILL.md
  skills/worktrunk/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

feat: add per-platform command shims (vx shim)
  Cargo.lock
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/mod.rs
  crates/vx-cli/src/commands/shim/args.rs
  crates/vx-cli/src/commands/shim/handler.rs
  crates/vx-cli/src/commands/shim/mod.rs
  crates/vx-cli/tests/shim_command_tests.rs
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/shim.rs
  crates/vx-runtime/src/shim/generate.rs
  crates/vx-runtime/src/shim_registry.rs
  crates/vx-runtime/tests/shim_tests.rs
  docs/cli/commands.md
  docs/cli/overview.md
  docs/cli/shim.md
  docs/rfcs/0042-platform-command-shims.md
  docs/zh/cli/commands.md
  docs/zh/cli/overview.md
  docs/zh/cli/shim.md
  llms.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test(shim): use collision-free names in shim command tests
  crates/vx-cli/tests/shim_command_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(shim): preserve original path casing in target dir dedup
  crates/vx-cli/src/commands/shim/handler.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add per-platform command shims (vx shim) (#1180)
  Cargo.lock
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/mod.rs
  crates/vx-cli/src/commands/shim/args.rs
  crates/vx-cli/src/commands/shim/handler.rs
  crates/vx-cli/src/commands/shim/mod.rs
  crates/vx-cli/tests/shim_command_tests.rs
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/shim.rs
  crates/vx-runtime/src/shim/generate.rs
  crates/vx-runtime/src/shim_registry.rs
  crates/vx-runtime/tests/shim_tests.rs
  docs/cli/commands.md
  docs/cli/overview.md
  docs/cli/shim.md
  docs/rfcs/0042-platform-command-shims.md
  docs/zh/cli/commands.md
  docs/zh/cli/overview.md
  docs/zh/cli/shim.md
  llms.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs(skill): point vx-repo-contract at the shared contract JSON
  skills/vx-repo-contract/SKILL.md
Due: none

docs: align repository contract checks
  skills/vx-repo-contract/SKILL.md
Due: none

docs: guide agents through managed command shims
  docs/cli/shim.md
  docs/guide/managed-command-shims.md
  skills/vx-commands/SKILL.md
  skills/vx-troubleshooting/SKILL.md
  skills/vx-usage/SKILL.md
Due: none

feat: support portable DCC installation contracts
  crates/vx-cli/tests/support/managed_cache.rs
  crates/vx-cli/tests/support/provider_contract.rs
  crates/vx-ecosystem-pm/src/installers/uvx.rs
  crates/vx-ecosystem-pm/tests/uvx_installer_tests.rs
  crates/vx-installer/src/formats/sevenz.rs
  crates/vx-installer/tests/sevenz_sfx_tests.rs
  crates/vx-resolver/src/executor/installation.rs
  crates/vx-resolver/tests/post_extract_executable_tests.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/src/shim/generate.rs
  crates/vx-shim/src/executor.rs
  crates/vx-shim/tests/uvx_execution_tests.rs
  crates/vx-starlark/src/provider/bridge.rs
  crates/vx-starlark/src/provider/hooks.rs
  crates/vx-starlark/src/provider/types.rs
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-starlark/stdlib/http.star
  crates/vx-starlark/stdlib/install.star
  crates/vx-starlark/tests/dcc_hook_runtime_tests.rs
  crates/vx-starlark/tests/dcc_hook_version_filter_tests.rs
  docs/guide/provider-star-stdlib.md
  docs/zh/guide/provider-star-reference.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add blender Provider
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .github/copilot-instructions.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  README.md
  README_zh.md
  crates/vx-cli/tests/blender_provider_tests.rs
  crates/vx-providers/blender/provider.star
  docs/advanced/architecture.md
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/manifest-driven-providers.md
  docs/index.md
  docs/tools/blender.md
  docs/tools/overview.md
  docs/zh/advanced/architecture.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/tools/blender.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add freecad Provider
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .github/copilot-instructions.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  README.md
  README_zh.md
  crates/vx-cli/tests/freecad_provider_tests.rs
  crates/vx-providers/freecad/provider.star
  docs/advanced/architecture.md
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/manifest-driven-providers.md
  docs/index.md
  docs/tools/freecad.md
  docs/tools/overview.md
  docs/zh/advanced/architecture.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/tools/freecad.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add godot Provider
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .github/copilot-instructions.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  README.md
  README_zh.md
  crates/vx-cli/tests/godot_provider_tests.rs
  crates/vx-providers/godot/provider.star
  docs/advanced/architecture.md
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/manifest-driven-providers.md
  docs/index.md
  docs/tools/godot.md
  docs/tools/overview.md
  docs/zh/advanced/architecture.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/tools/godot.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add krita Provider
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .github/copilot-instructions.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  README.md
  README_zh.md
  crates/vx-cli/tests/krita_provider_tests.rs
  crates/vx-providers/krita/provider.star
  docs/advanced/architecture.md
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/manifest-driven-providers.md
  docs/index.md
  docs/tools/krita.md
  docs/tools/overview.md
  docs/zh/advanced/architecture.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/tools/krita.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add openscad Provider
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .github/copilot-instructions.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  README.md
  README_zh.md
  crates/vx-cli/tests/openscad_provider_tests.rs
  crates/vx-providers/openscad/provider.star
  docs/advanced/architecture.md
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/manifest-driven-providers.md
  docs/index.md
  docs/tools/openscad.md
  docs/tools/overview.md
  docs/zh/advanced/architecture.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/tools/openscad.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add material-maker Provider
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .github/copilot-instructions.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  README.md
  README_zh.md
  crates/vx-cli/tests/material_maker_provider_tests.rs
  crates/vx-providers/material-maker/provider.star
  docs/advanced/architecture.md
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/manifest-driven-providers.md
  docs/index.md
  docs/tools/material-maker.md
  docs/tools/overview.md
  docs/zh/advanced/architecture.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/tools/material-maker.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests
