Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

test: skip E2E lock tests on transient GitHub API failures (rate limit/timeout)
  tests/e2e_lock_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

ci: pass GITHUB_TOKEN to all test jobs to avoid API rate limits
  .github/workflows/ci.yml
Due: prettier

feat: add well-known Python version fallback for python-build-standalone
  crates/vx-starlark/src/provider/versions.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: preserve Rust MSRV in vx.toml and enable passthrough for Rust ecosystem
  Cargo.lock
  crates/vx-cli/src/commands/init.rs
  crates/vx-cli/src/commands/lock.rs
  crates/vx-cli/tests/init_detection_tests.rs
  tests/e2e_lock_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: auto-fetch versions when version_date cache miss in download_url
  crates/vx-providers/python/tests/starlark_logic_tests.rs
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/src/provider/versions.rs
  tests/e2e_python_provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: Python install fails due to version_date cache key mismatch
  Cargo.lock
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-starlark/tests/version_date_lookup_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: Rust ecosystem passthrough for rustc versions in resolve_version
  crates/vx-runtime/src/runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: clippy useless_vec warnings in tests
  crates/vx-starlark/tests/version_date_lookup_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: enhance AI agent documentation with decision framework, MCP guide, and version fixes
  AGENTS.md
  README.md
  README_zh.md
  llms-full.txt
  llms.txt
  skills/README.md
  skills/vx-best-practices/SKILL.md
  skills/vx-usage/SKILL.md
Due: none

docs: enhance AI agent documentation with decision framework, MCP guide, and version fixes (#732)
  AGENTS.md
  README.md
  README_zh.md
  llms-full.txt
  llms.txt
  skills/README.md
  skills/vx-best-practices/SKILL.md
  skills/vx-usage/SKILL.md
Due: none

ci: optimize provider test workflows
  .github/scripts/discover-providers.sh
  .github/workflows/ci.yml
  .github/workflows/test-providers.yml
  Cargo.lock
  crates/vx-star-metadata/src/bin/discover_providers.rs
  crates/vx-star-metadata/src/discovery.rs
  crates/vx-star-metadata/tests/discovery_tests.rs
  docs/cli/test.md
  scripts/README.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix(ci): sanitize provider cache keys
  .github/workflows/test-providers.yml
Due: prettier

feat: add 7 high-priority developer tool providers (lazygit, delta, hyperfine, zoxide, atuin, chezmoi, eza)
  Cargo.lock
  Cargo.toml
  crates/vx-providers/atuin/Cargo.toml
  crates/vx-providers/atuin/lib.rs
  crates/vx-providers/atuin/provider.star
  crates/vx-providers/chezmoi/Cargo.toml
  crates/vx-providers/chezmoi/lib.rs
  crates/vx-providers/chezmoi/provider.star
  crates/vx-providers/delta/Cargo.toml
  crates/vx-providers/delta/lib.rs
  crates/vx-providers/delta/provider.star
  crates/vx-providers/eza/Cargo.toml
  crates/vx-providers/eza/lib.rs
  crates/vx-providers/eza/provider.star
  crates/vx-providers/hyperfine/Cargo.toml
  crates/vx-providers/hyperfine/lib.rs
  crates/vx-providers/hyperfine/provider.star
  crates/vx-providers/lazygit/Cargo.toml
  crates/vx-providers/lazygit/lib.rs
  crates/vx-providers/lazygit/provider.star
  crates/vx-providers/zoxide/Cargo.toml
  crates/vx-providers/zoxide/lib.rs
  crates/vx-providers/zoxide/provider.star
  tests/e2e_new_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add helix and yazi providers
  Cargo.lock
  Cargo.toml
  crates/vx-providers/helix/Cargo.toml
  crates/vx-providers/helix/lib.rs
  crates/vx-providers/helix/provider.star
  crates/vx-providers/yazi/Cargo.toml
  crates/vx-providers/yazi/lib.rs
  crates/vx-providers/yazi/provider.star
  tests/e2e_new_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: import env_prepend from env.star instead of provider.star
  crates/vx-providers/actionlint/provider.star
  crates/vx-providers/biome/provider.star
  crates/vx-providers/dive/provider.star
  crates/vx-providers/duf/provider.star
  crates/vx-providers/eza/provider.star
  crates/vx-providers/gitleaks/provider.star
  crates/vx-providers/gping/provider.star
  crates/vx-providers/helix/provider.star
  crates/vx-providers/k9s/provider.star
  crates/vx-providers/lazydocker/provider.star
  crates/vx-providers/lazygit/provider.star
  crates/vx-providers/mise/provider.star
  crates/vx-providers/tealdeer/provider.star
  crates/vx-providers/trivy/provider.star
  crates/vx-providers/yazi/provider.star
Due: none

feat: add 11 new providers (mise, gitleaks, biome, lazydocker, k9s, gping, watchexec, duf, trippy, sd, actionlint)
  Cargo.lock
  Cargo.toml
  crates/vx-providers/actionlint/Cargo.toml
  crates/vx-providers/actionlint/lib.rs
  crates/vx-providers/actionlint/provider.star
  crates/vx-providers/biome/Cargo.toml
  crates/vx-providers/biome/lib.rs
  crates/vx-providers/biome/provider.star
  crates/vx-providers/duf/Cargo.toml
  crates/vx-providers/duf/lib.rs
  crates/vx-providers/duf/provider.star
  crates/vx-providers/gitleaks/Cargo.toml
  crates/vx-providers/gitleaks/lib.rs
  crates/vx-providers/gitleaks/provider.star
  crates/vx-providers/gping/Cargo.toml
  crates/vx-providers/gping/lib.rs
  crates/vx-providers/gping/provider.star
  crates/vx-providers/k9s/Cargo.toml
  crates/vx-providers/k9s/lib.rs
  crates/vx-providers/k9s/provider.star
  crates/vx-providers/lazydocker/Cargo.toml
  crates/vx-providers/lazydocker/lib.rs
  crates/vx-providers/lazydocker/provider.star
  crates/vx-providers/mise/Cargo.toml
  crates/vx-providers/mise/lib.rs
  crates/vx-providers/mise/provider.star
  crates/vx-providers/sd/Cargo.toml
  crates/vx-providers/sd/lib.rs
  crates/vx-providers/sd/provider.star
  crates/vx-providers/trippy/Cargo.toml
  crates/vx-providers/trippy/lib.rs
  crates/vx-providers/trippy/provider.star
  crates/vx-providers/watchexec/Cargo.toml
  crates/vx-providers/watchexec/lib.rs
  crates/vx-providers/watchexec/provider.star
  tests/e2e_new_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add 7 new providers (tealdeer, dust, xh, bottom, trivy, zellij, dive)
  Cargo.lock
  Cargo.toml
  crates/vx-providers/bottom/Cargo.toml
  crates/vx-providers/bottom/lib.rs
  crates/vx-providers/bottom/provider.star
  crates/vx-providers/dive/Cargo.toml
  crates/vx-providers/dive/lib.rs
  crates/vx-providers/dive/provider.star
  crates/vx-providers/dust/Cargo.toml
  crates/vx-providers/dust/lib.rs
  crates/vx-providers/dust/provider.star
  crates/vx-providers/tealdeer/Cargo.toml
  crates/vx-providers/tealdeer/lib.rs
  crates/vx-providers/tealdeer/provider.star
  crates/vx-providers/trivy/Cargo.toml
  crates/vx-providers/trivy/lib.rs
  crates/vx-providers/trivy/provider.star
  crates/vx-providers/xh/Cargo.toml
  crates/vx-providers/xh/lib.rs
  crates/vx-providers/xh/provider.star
  crates/vx-providers/zellij/Cargo.toml
  crates/vx-providers/zellij/lib.rs
  crates/vx-providers/zellij/provider.star
  tests/e2e_new_providers_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(providers): resolve CI issues for new provider batch
  crates/vx-providers/actionlint/provider.star
  crates/vx-providers/biome/provider.star
  crates/vx-providers/dive/provider.star
  crates/vx-providers/duf/provider.star
  crates/vx-providers/eza/provider.star
  crates/vx-providers/gitleaks/provider.star
  crates/vx-providers/helix/provider.star
  crates/vx-providers/k9s/provider.star
  crates/vx-providers/lazydocker/provider.star
  crates/vx-providers/lazygit/provider.star
  crates/vx-providers/mise/provider.star
  crates/vx-providers/tealdeer/provider.star
  crates/vx-providers/trivy/provider.star
  crates/vx-providers/yazi/provider.star
  vx.lock
Due: none

fix(watchexec): use .zip on Windows, .tar.xz on Linux/macOS
  crates/vx-providers/watchexec/provider.star
Due: none
