Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

fix: bind integration tests to the Cargo candidate
  crates/vx-cli/tests/common/mod.rs
  crates/vx-cli/tests/common_timeout_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: complete vx-org migration in badges, skills and LLM indexes
  .agents/skills/vx-troubleshooting/SKILL.md
  .claude/skills/vx-troubleshooting/SKILL.md
  .cline/skills/vx-troubleshooting/SKILL.md
  .codebuddy/skills/vx-troubleshooting/SKILL.md
  .cursor/skills/vx-troubleshooting/SKILL.md
  .github/workflows/linux-packages.yml
  .kiro/skills/vx-troubleshooting/SKILL.md
  .opencode/skills/vx-troubleshooting/SKILL.md
  .roo/skills/vx-troubleshooting/SKILL.md
  .trae/skills/vx-troubleshooting/SKILL.md
  .windsurf/skills/vx-troubleshooting/SKILL.md
  README.md
  README_zh.md
  docs/advanced/ai-agent-guide.md
  llms-full.txt
  llms.txt
  skills/vx-troubleshooting/SKILL.md
Due: prettier

fix(rust): report the real toolchain version in vx check --json installed
  crates/vx-cli/src/commands/check.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(check): report the real rust toolchain as installed, not the declared pin
  crates/vx-cli/src/commands/check.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: consume Rez bundles as a runtime source
  Cargo.lock
  Cargo.toml
  crates/vx-resolver/src/executor/installation.rs
  crates/vx-resolver/src/executor/pipeline/stages/prepare.rs
  crates/vx-runtime/Cargo.toml
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/manifest_runtime/install.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/src/runtime/mod.rs
  crates/vx-runtime/tests/rez_bundle_execution_tests.rs
  crates/vx-starlark/Cargo.toml
  crates/vx-starlark/src/provider/bridge.rs
  crates/vx-starlark/src/provider/builder.rs
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/stdlib/rez.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test: register the Rez stdlib module and cover bundle discovery
  Cargo.lock
  crates/vx-providers/rust/provider.star
  crates/vx-starlark/src/loader.rs
  crates/vx-starlark/src/provider/execute.rs
  crates/vx-starlark/src/provider/versions.rs
  crates/vx-starlark/src/test_mocks.rs
  crates/vx-starlark/tests/loader_tests.rs
  crates/vx-starlark/tests/rez_bundle_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: regenerate Cargo.lock on the current main baseline
  Cargo.lock
Due: none

fix: keep bundled runtimes out of direct installation
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: gate Rez activation on a published bundle release
  crates/vx-providers/rust/provider.star
  crates/vx-starlark/src/test_mocks.rs
  crates/vx-starlark/stdlib/rez.star
  crates/vx-starlark/tests/rez_bundle_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: return the Rez bundle asset URL from the provider bridge
  crates/vx-starlark/src/provider/execute.rs
  crates/vx-starlark/tests/rez_bundle_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: defer obs integration links until guide is available
  docs/tools/obs.md
  docs/zh/tools/obs.md
Due: none

feat: add obs Provider
  .agents/skills/vx-usage/SKILL.md
  .claude/skills/vx-usage/SKILL.md
  .cline/skills/vx-usage/SKILL.md
  .codebuddy/skills/vx-usage/SKILL.md
  .cursor/skills/vx-usage/SKILL.md
  .github/copilot-instructions.md
  .kiro/skills/vx-usage/SKILL.md
  .kiro/steering/vx-project.md
  .opencode/skills/vx-usage/SKILL.md
  .roo/skills/vx-usage/SKILL.md
  .trae/rules/vx-project.md
  .trae/skills/vx-usage/SKILL.md
  .windsurf/skills/vx-usage/SKILL.md
  README.md
  README_zh.md
  crates/vx-cli/tests/obs_provider_tests.rs
  crates/vx-providers/obs/provider.star
  docs/advanced/architecture.md
  docs/advanced/contributing.md
  docs/appendix/faq.md
  docs/architecture/OVERVIEW.md
  docs/guide/concepts.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/manifest-driven-providers.md
  docs/index.md
  docs/tools/obs.md
  docs/tools/overview.md
  docs/zh/advanced/architecture.md
  docs/zh/appendix/faq.md
  docs/zh/guide/concepts.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/tools/obs.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
  skills/vx-usage/SKILL.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: bridge OBS system installation strategies
  crates/vx-cli/tests/obs_provider_tests.rs
  crates/vx-providers/obs/provider.star
  docs/tools/obs.md
  docs/zh/tools/obs.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(check): report the resolved toolchain as the installed rust version
  crates/vx-cli/src/commands/check.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(obs): do not fabricate Windows archive URLs
  crates/vx-cli/tests/obs_provider_tests.rs
  crates/vx-providers/obs/provider.star
Due: cargo-fmt, cargo-clippy, cargo-check-tests
