Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

fix(providers): correct install_layout strip_prefix and download_url
  crates/vx-providers/age/provider.star
  crates/vx-providers/cargo-nextest/provider.star
  crates/vx-providers/hugo/provider.star
  crates/vx-providers/sops/provider.star
  crates/vx-providers/vault/provider.star
Due: none

fix: fix age install_layout and cargo-nextest asset naming
  crates/vx-providers/age/provider.star
  crates/vx-providers/cargo-nextest/provider.star
Due: none

fix: vault provider linux system_install
  crates/vx-providers/vault/provider.star
Due: none

fix: rewrite cargo-nextest provider download_url
  crates/vx-providers/cargo-nextest/provider.star
Due: none

fix: correct --remap-path-scope value (dep-only → all)
  .cargo/config.toml
Due: none

fix(providers): correct cargo-nextest download_url to avoid duplicate prefix
  crates/vx-providers/cargo-nextest/provider.star
Due: none

docs: update provider count from 132/135 to 136 across all docs
  AGENTS.md
  GEMINI.md
  docs/advanced/contributing.md
  docs/architecture/OVERVIEW.md
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/tools/overview.md
  docs/zh/guide/getting-started.md
  docs/zh/guide/index.md
  docs/zh/tools/overview.md
  llms-full.txt
  llms.txt
Due: none

fix(hugo): add missing load for archive_layout in provider.star
  crates/vx-providers/hugo/provider.star
Due: none

fix: CI failures on PR #843
  crates/vx-cli/src/error_handler.rs
  crates/vx-providers/hugo/provider.star
  crates/vx-runtime-http/src/installer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(all): comprehensive CI fixes and Rust 1.95.0 upgrade (#843)
  .cargo/config.toml
  crates/vx-cli/src/error_handler.rs
  crates/vx-providers/cargo-nextest/provider.star
  crates/vx-providers/hugo/provider.star
  crates/vx-runtime-http/src/installer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): ensure Release workflow triggers even when release is created from update-pr job
  .github/workflows/release-please.yml
Due: prettier

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
Due: none

docs: update version to v0.8.35 and provider count to 136
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  llms-full.txt
  llms.txt
Due: none

feat: add self-update check with non-blocking notification
  crates/vx-cli/src/lib.rs
  crates/vx-cli/src/update_checker.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(cli): send update notifications to stderr
  crates/vx-cli/src/update_checker.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(cli): add update channel support (stable, beta, dev)
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/self_update.rs
  crates/vx-cli/src/update_checker.rs
  docs/research/self-update-solutions.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(cli): fix formatting issues (run cargo fmt)
  crates/vx-cli/src/lib.rs
  crates/vx-cli/src/update_checker.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(cli): fix Clippy warnings and test compilation errors
  crates/vx-cli/src/lib.rs
  crates/vx-cli/src/update_checker.rs
  crates/vx-cli/tests/cli_parsing_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(cli): remove debug print from lib.rs
  crates/vx-cli/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: make env-dependent tests serial to prevent race conditions
  crates/vx-output-filter/Cargo.toml
  crates/vx-output-filter/tests/filter_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

