Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

refactor(vx-starlark): replace path-based cache with content-hash incremental analysis cache
  crates/vx-starlark/src/provider.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(vx-provider-jj): strip v prefix from version tags to prevent double-v in download URL
  crates/vx-providers/jj/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(starlark): add github.star stdlib + jj provider.star migration
  crates/vx-providers/jj/provider.star
  crates/vx-starlark/stdlib/github.star
  docs/rfcs/0036-starlark-provider-support.md
Due: none

feat(starlark): complete provider.star migration and fix stdlib ctx access
  .gitignore
  Cargo.lock
  crates/vx-cli/src/registry.rs
  crates/vx-providers/bat/provider.star
  crates/vx-providers/dagu/provider.star
  crates/vx-providers/deno/provider.star
  crates/vx-providers/fd/provider.star
  crates/vx-providers/fzf/provider.star
  crates/vx-providers/gh/provider.star
  crates/vx-providers/hadolint/provider.star
  crates/vx-providers/helm/provider.star
  crates/vx-providers/jj/provider.toml
  crates/vx-providers/jj/src/config.rs
  crates/vx-providers/jj/tests/runtime_tests.rs
  crates/vx-providers/just/provider.star
  crates/vx-providers/kubectl/provider.star
  crates/vx-providers/ninja/provider.star
  crates/vx-providers/ollama/provider.star
  crates/vx-providers/protoc/provider.star
  crates/vx-providers/rcedit/provider.star
  crates/vx-providers/ripgrep/provider.star
  crates/vx-providers/starship/provider.star
  crates/vx-providers/task/provider.star
  crates/vx-providers/terraform/provider.star
  crates/vx-providers/yq/provider.star
  crates/vx-providers/zig/provider.star
  crates/vx-starlark/Cargo.toml
  crates/vx-starlark/src/engine.rs
  crates/vx-starlark/src/loader.rs
  crates/vx-starlark/src/provider.rs
  crates/vx-starlark/src/sandbox.rs
  crates/vx-starlark/stdlib/github.star
  crates/vx-starlark/stdlib/http.star
  crates/vx-starlark/stdlib/platform.star
  crates/vx-starlark/tests/engine_tests.rs
  crates/vx-starlark/tests/loader_tests.rs
  docs/rfcs/0036-starlark-provider-support.md
  vx.lock
Due: cargo-fmt, cargo-clippy, cargo-check-tests

test(vx-provider-7zip): add complete runtime tests (27 tests)
  Cargo.lock
  crates/vx-providers/7zip/Cargo.toml
  crates/vx-providers/7zip/tests/runtime_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(where): use executable_name() instead of runtime name for exe lookup
  .codebuddy/skills/vx-provider-creator/SKILL.md
  .codebuddy/skills/vx-provider-updater/SKILL.md
  crates/vx-cli/src/commands/where_cmd.rs
  crates/vx-installer/src/installer.rs
  crates/vx-providers/7zip/provider.star
  crates/vx-providers/7zip/src/runtime.rs
  crates/vx-providers/7zip/tests/runtime_tests.rs
  crates/vx-starlark/src/engine.rs
  crates/vx-starlark/src/loader.rs
  crates/vx-starlark/src/provider.rs
  crates/vx-starlark/stdlib/install.star
  vx.lock
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(justfile): fix test-pkgs recipe to not duplicate -p flag
  justfile
Due: none

refactor(build): remove legacy provider.toml support, simplify build.rs and registry.rs
  crates/vx-cli/build.rs
  crates/vx-cli/src/commands/where_cmd.rs
  crates/vx-cli/src/registry.rs
  crates/vx-cli/tests/cli_integration_tests.rs
  crates/vx-cli/tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: fix workspace-hack hakari section markers and regenerate dependencies
  Cargo.lock
  crates/workspace-hack/Cargo.toml
Due: none

fix(manifest-runtime): override resolve_version to return 'system' for system tools
  crates/vx-runtime/src/manifest_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat: add new oneshot runner ecosystems and update CLI help/docs
  .codebuddy/skills/vx-provider-creator/SKILL.md
  .codebuddy/skills/vx-provider-updater/SKILL.md
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/lib.rs
  crates/vx-ecosystem-pm/src/installers/deno.rs
  crates/vx-ecosystem-pm/src/installers/dlx.rs
  crates/vx-ecosystem-pm/src/installers/dotnet_tool.rs
  crates/vx-ecosystem-pm/src/installers/jbang.rs
  crates/vx-ecosystem-pm/src/installers/mod.rs
  crates/vx-ecosystem-pm/src/installers/pipx.rs
  crates/vx-ecosystem-pm/src/lib.rs
  crates/vx-shim/src/request.rs
  crates/vx-starlark/src/metadata.rs
  docs/cli/implicit-package-execution.md
  docs/zh/cli/implicit-package-execution.md
  tests/e2e_package_syntax_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ui): show Installing feedback during auto-install to avoid perceived hang
  crates/vx-resolver/src/executor/installation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(versions): case-insensitive Ecosystem deserialization for vx.lock compatibility
  crates/vx-versions/src/ecosystem.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

feat(list): sort tool list alphabetically (a-z)
  crates/vx-cli/src/commands/list/handler.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(runtime): check vx store first in ManifestDrivenRuntime.is_installed() and installed_versions()
  crates/vx-runtime/src/manifest_runtime/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: stabilize test suite and version constraint parsing
  .config/nextest.toml
  crates/vx-versions/src/resolver/core.rs
  crates/vx-versions/tests/version_request_tests.rs
  tests/cli_integration_tests.rs
  tests/e2e_benchmark_tests.rs
  tests/e2e_cache_providers_tests.rs
  tests/e2e_uninstall_where_tests.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(cache): skip NeedsInstall results in resolution cache; extend TTL to 24h
  crates/vx-resolver/src/config.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(lint): resolve provider.star lint issues
  crates/vx-providers/7zip/provider.star
  crates/vx-providers/brew/provider.star
  crates/vx-providers/buildcache/provider.star
  crates/vx-providers/ccache/provider.star
  crates/vx-providers/choco/provider.star
  crates/vx-providers/curl/provider.star
  crates/vx-providers/git/provider.star
  crates/vx-providers/go/provider.star
  crates/vx-providers/hadolint/provider.star
  crates/vx-providers/make/provider.star
  crates/vx-providers/node/provider.star
  crates/vx-providers/pnpm/provider.star
  crates/vx-providers/sccache/provider.star
  crates/vx-providers/systemctl/provider.star
  crates/vx-providers/terraform/provider.star
Due: none

chore: remove obsolete promo video project
  vx-promo-video/.gitignore
  vx-promo-video/DEV_NOTES.md
  vx-promo-video/README.md
  vx-promo-video/package-lock.json
  vx-promo-video/package.json
  vx-promo-video/remotion.config.ts
  vx-promo-video/src/FullVideo.tsx
  vx-promo-video/src/Root.tsx
  vx-promo-video/src/components/AnimationUtils.tsx
  vx-promo-video/src/components/AudioComponents.tsx
  vx-promo-video/src/components/Background.tsx
  vx-promo-video/src/components/CodeBlock.tsx
  vx-promo-video/src/components/FloatingLogos.tsx
  vx-promo-video/src/components/GlowEffects.tsx
  vx-promo-video/src/components/ParticleField.tsx
  vx-promo-video/src/components/ProviderLogos.tsx
  vx-promo-video/src/components/TerminalAnimation.tsx
  vx-promo-video/src/components/TextEffects.tsx
  vx-promo-video/src/components/Title.tsx
  vx-promo-video/src/components/Transitions.tsx
  vx-promo-video/src/fonts.ts
  vx-promo-video/src/scenes/CallToActionScene.tsx
  vx-promo-video/src/scenes/FeaturesScene.tsx
  vx-promo-video/src/scenes/IntroScene.tsx
  vx-promo-video/src/scenes/MCPScene.tsx
  vx-promo-video/src/scenes/ProblemScene.tsx
  vx-promo-video/src/scenes/ProvidersScene.tsx
  vx-promo-video/src/scenes/SolutionScene.tsx
  vx-promo-video/tsconfig.json
Due: none

fix: hadolint asset name separator and uvx bundled_with support
  crates/vx-cli/src/registry.rs
  crates/vx-providers/hadolint/provider.star
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/src/provider/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: add is_version_installable and prepare_execution for bundled runtimes
  crates/vx-runtime/src/manifest_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: add Starlark Providers advanced guide (bilingual)
  docs/guide/manifest-driven-providers.md
  docs/guide/starlark-providers.md
  docs/zh/guide/manifest-driven-providers.md
  docs/zh/guide/starlark-providers.md
Due: none

fix(ci): add sccache setup to benchmark workflow
  .github/workflows/benchmark.yml
Due: prettier

fix: prevent bundled runtime executable misresolution (npm->node)
  crates/vx-resolver/src/executor/pipeline/stages/ensure.rs
  crates/vx-resolver/src/executor/pipeline/stages/prepare.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests
