Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

.pre-commit-config.yaml:

# prek configuration (pre-commit replacement, re-engineered in Rust)
# See https://prek.j178.dev/ for more info
#
# Usage:
#   vx prek install          # Install git hooks
#   vx prek run --all-files  # Run all hooks manually

fail_fast: true

exclude: |
  (?x)^(
    target/.*|
    node_modules/.*|
    vx-promo-video/.*|
    docs/node_modules/.*|
    .*\.lock
  )$

repos:
  # Spell checking
  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: vx cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: vx cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Check test compilation (catches E0061 and other test-only errors)
  - repo: local
    hooks:
      - id: cargo-check-tests
        name: cargo check --tests
        entry: vx cargo check --workspace --tests
        language: system
        types: [rust]
        pass_filenames: false

  # YAML/JSON formatting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: vx npx prettier --write --ignore-unknown
        language: system
        types_or: [yaml, json]

  # Common safety checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt
          )$
      - id: check-toml
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.txt|
            .*\.md
          )$

fix: use vx-managed Go runtime for go install global workflow (PIP-1156)
  crates/vx-cli/src/commands/global/handler.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(ci): work around npm EOVERRIDE in aionui example
  examples/msvc/aionui.build.ps1
Due: none

fix: apply chmod +x after archive extraction and fix ffmpeg strip_prefix
  crates/vx-providers/ffmpeg/provider.star
  crates/vx-runtime-http/src/installer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve zig Starlark try keyword and implement github_smart_provider template (PIP-1171)
  crates/vx-providers/zig/provider.star
  crates/vx-starlark/stdlib/provider_templates.star
Due: none

fix(ci): also work around pnpm workspace:* protocol in aionui example
  examples/msvc/aionui.build.ps1
Due: none

docs(headroom): add Phase 1 documentation for context compression integration
  CLAUDE.md
  docs/guides/headroom.md
  docs/tools/ai.md
  docs/tools/overview.md
  docs/zh/guides/headroom.md
  docs/zh/tools/ai.md
  docs/zh/tools/overview.md
  llms.txt
Due: none

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
Due: none

Revert "chore: regenerate workspace-hack (cargo-hakari) [skip ci]"
  Cargo.lock
Due: none

Revert "docs(headroom): add Phase 1 documentation for context compression integration"
  CLAUDE.md
  docs/guides/headroom.md
  docs/tools/ai.md
  docs/tools/overview.md
  docs/zh/guides/headroom.md
  docs/zh/tools/ai.md
  docs/zh/tools/overview.md
  llms.txt
Due: none

docs(headroom): add Phase 1 documentation for context compression integration (#984)
  CLAUDE.md
  docs/guides/headroom.md
  docs/tools/ai.md
  docs/tools/overview.md
  docs/zh/guides/headroom.md
  docs/zh/tools/ai.md
  docs/zh/tools/overview.md
  llms.txt
Due: none

docs(zh/tools/ai): fix dead link to Headroom guide
  docs/zh/tools/ai.md
Due: none

fix: resolve bundled runtime version mismatch and add archive prefix auto-repair
  crates/vx-resolver/src/executor/bin_dir_cache.rs
  crates/vx-resolver/src/executor/environment.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: self-update CDN version selection picks first, not latest (PIP-1829)
  crates/vx-cli/src/commands/self_update.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: self-update CDN version selection picks first, not latest
  crates/vx-cli/src/commands/self_update.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix(runtime): set executable permissions on root-level archive files on Unix
  crates/vx-runtime-http/src/installer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: set executable permissions on root-level archive files on Unix
  crates/vx-runtime-http/src/installer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: rustfmt ai.rs, reorder headroom_proxy_tests assertions, add CI Spectre libs, remove stale generated block from CLAUDE.md
  .github/workflows/examples-msvc.yml
  CLAUDE.md
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/tests/headroom_proxy_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

fix: resolve clippy warnings (needless_borrow, collapsible_if)
  crates/vx-runtime-http/src/installer.rs
  crates/vx-starlark/tests/provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: resolve go::gofmt parsing bug — :: without preceding : is runtime executable, not package install
  AGENTS.md
  crates/vx-cli/src/lib.rs
  crates/vx-shim/src/request.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: regenerate workspace-hack (cargo-hakari) [skip ci]
  Cargo.lock
  crates/workspace-hack/Cargo.toml
Due: none

fix: prepare MSVC Spectre toolchains
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/tests/prepare_stage_tests.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/tests/runtime_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests

fix: preserve PATH for Windows Git hooks
  crates/vx-providers/git/provider.star
  crates/vx-providers/git/tests/starlark_logic_tests.rs
  crates/vx-starlark/tests/git_provider_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests
