Repository loonghao/vx: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, prettier

cargo-fmt:
  name: cargo fmt
  entry: vx cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: vx cargo clippy --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: vx cargo check --workspace --tests
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: vx npx prettier --write --ignore-unknown
  language: system

fix(deps): update rust crate starlark to 0.14
  Cargo.lock
  Cargo.toml
  crates/vx-starlark/Cargo.toml
  crates/vx-starlark/src/engine.rs
  crates/vx-starlark/src/loader.rs
  crates/workspace-hack/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore(deps): exclude hakari-generated workspace-hack from Renovate
  renovate.json
Due: prettier

fix(rust): dispatch to cargo/bin/rustup after post_extract
  crates/vx-resolver/src/executor/installation.rs
  crates/vx-resolver/tests/post_extract_executable_tests.rs
  crates/vx-runtime/src/lib.rs
  crates/vx-runtime/src/manifest_runtime/mod.rs
  crates/vx-runtime/src/runtime/mod.rs
  crates/vx-runtime/src/runtime/subtrait.rs
  crates/vx-starlark/src/lib.rs
  crates/vx-starlark/src/provider/bridge.rs
  crates/vx-starlark/src/provider/builder.rs
  crates/vx-starlark/src/provider/mod.rs
  crates/vx-starlark/src/provider/store.rs
  crates/vx-starlark/tests/rust_provider_tests.rs
  vx.lock
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: drop incidental vx.lock regeneration from the pre-push hook
  vx.lock
Due: none

fix(deps): update rust crate starlark to 0.14 (#1150)
  Cargo.lock
  Cargo.toml
  crates/vx-starlark/Cargo.toml
  crates/vx-starlark/src/engine.rs
  crates/vx-starlark/src/loader.rs
  crates/workspace-hack/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

ci: report workspace-hack drift on a pull request instead of committing it
  .github/workflows/ci.yml
Due: prettier

build(hooks): test the push hook, and tell a broken toolchain from a bad lockfile
  .githooks/pre-push
  .github/workflows/hook-tests.yml
  scripts/test_pre_push_hook.py
Due: prettier

build(hooks): judge workspace-hack the way CI does
  .githooks/pre-push
Due: none

docs(ci): make the lockfile drift checker callable and fail loudly when it is not
  .github/workflows/lockfile-drift.yml
  docs/appendix/lockfile-drift.md
  scripts/tests/test_check_lockfile_drift.py
Due: prettier

fix(ci): report a dependency bump the merge result does not deliver
  .github/workflows/lockfile-drift.yml
  docs/appendix/lockfile-drift.md
  scripts/check_lockfile_drift.py
  scripts/tests/test_check_lockfile_drift.py
Due: prettier

fix(ci): detect dependency versions a pull request moves backwards
  .github/workflows/lockfile-drift.yml
  docs/.vitepress/config.ts
  docs/appendix/lockfile-drift.md
  scripts/check_lockfile_drift.py
  scripts/tests/test_check_lockfile_drift.py
Due: prettier

fix(ci): run the lockfile drift checker from the base ref when it has one
  .github/workflows/lockfile-drift.yml
Due: prettier

fix(ci): absorb network-dependent E2E flake instead of failing required checks
  .config/nextest.toml
  .github/workflows/ci.yml
Due: prettier

ci: surface nextest retry-absorbed flaky tests and cover root-package E2E
  .config/nextest.toml
  .github/workflows/ci.yml
  scripts/summarize_nextest_flaky.py
  scripts/tests/test_summarize_nextest_flaky.py
Due: prettier

ci: surface nextest retry-absorbed flaky tests and cover root-package E2E (#1155)
  .config/nextest.toml
  .github/workflows/ci.yml
  scripts/summarize_nextest_flaky.py
  scripts/tests/test_summarize_nextest_flaky.py
Due: prettier

ci: state nextest first-match override semantics and report why a flake failed
  .config/nextest.toml
  .github/workflows/ci.yml
  scripts/summarize_nextest_flaky.py
  scripts/tests/test_summarize_nextest_flaky.py
Due: prettier

ci: state nextest first-match override semantics and report why a flake failed (#1156)
  .config/nextest.toml
  .github/workflows/ci.yml
  scripts/summarize_nextest_flaky.py
  scripts/tests/test_summarize_nextest_flaky.py
Due: prettier

fix(ci): publish the release PR gate as the required CI Success check
  .github/workflows/ci-release-pr.yml
  .github/workflows/release-please.yml
  scripts/tests/test_release_please_workflow.py
Due: prettier

docs: add tool pin baseline for vx.toml [tools]
  docs/guide/tool-pin-baseline.md
Due: none

docs: add Chinese tool pin baseline
  docs/zh/guide/tool-pin-baseline.md
Due: none

docs: add tool pin baseline to the guide sidebar
  docs/.vitepress/config.ts
Due: none

docs: refine tool pin baseline (artifact class, maturin)
  docs/guide/tool-pin-baseline.md
Due: none

docs: add the adoption snapshot to the Chinese baseline
  docs/zh/guide/tool-pin-baseline.md
Due: none

docs: consolidate agent instructions into a single AGENTS.md
  .clinerules
  .cursorrules
  .windsurfrules
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/advanced/ai-agent-guide.md
  docs/integrations/claude.md
  docs/integrations/cline.md
  docs/integrations/cursor.md
  docs/integrations/gemini.md
  docs/integrations/windsurf.md
Due: none

ci: adopt the dcc-mcp repository contract gate
  .github/workflows/repo-contract.yml
Due: prettier

feat(ai): install skills globally, add repo contract skill and drift checks
  crates/vx-cli/src/cli.rs
  crates/vx-cli/src/commands/ai.rs
  crates/vx-cli/tests/ai_check_tests.rs
  crates/vx-config/src/types/ai.rs
  docs/cli/commands.md
  docs/config/vx-toml.md
  skills/README.md
  skills/vx-agent-workflow/SKILL.md
  skills/vx-best-practices/SKILL.md
  skills/vx-commands/SKILL.md
  skills/vx-project/SKILL.md
  skills/vx-repo-contract/SKILL.md
  skills/vx-troubleshooting/SKILL.md
  skills/vx-usage/SKILL.md
  vx.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

chore: sync Cargo.lock with the v0.9.33 workspace version bump
  Cargo.lock
Due: none

chore: make AGENTS.md the single agent contract file
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  llms-full.txt
  llms.txt
Due: none

fix(rust): let rustup own the toolchain when the repo pins one
  crates/vx-cli/src/commands/check.rs
  crates/vx-cli/src/commands/common.rs
  crates/vx-providers/rust/provider.star
  crates/vx-resolver/src/executor/environment.rs
  crates/vx-resolver/src/executor/fallback.rs
  crates/vx-resolver/src/executor/pipeline/plan.rs
  crates/vx-resolver/src/executor/pipeline/stages/ensure.rs
  crates/vx-resolver/src/executor/pipeline/stages/prepare.rs
  crates/vx-resolver/src/executor/pipeline/stages/resolve.rs
  crates/vx-resolver/src/executor/project_config.rs
  crates/vx-resolver/src/lib.rs
  crates/vx-resolver/src/rust_toolchain.rs
  crates/vx-resolver/tests/rust_toolchain_delegation_tests.rs
  crates/vx-starlark/src/provider/mod.rs
  docs/tools/rust.md
  docs/zh/tools/rust.md
  skills/vx-project/SKILL.md
  vx.lock
  vx.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests

docs: link to AGENTS.md on GitHub instead of a path outside the VitePress srcDir
  docs/advanced/ai-agent-guide.md
  docs/integrations/claude.md
  docs/integrations/cline.md
  docs/integrations/cursor.md
  docs/integrations/gemini.md
  docs/integrations/windsurf.md
Due: none

ci: fail when vx.lock is missing or out of sync with vx.toml
  .github/workflows/vx-lock-guard.yml
Due: prettier

chore: pin runtime versions, drop default [settings], refresh vx.lock
  .github/workflows/vx-lock-guard.yml
  vx.lock
  vx.toml
Due: prettier

chore: pin runtime versions, drop default [settings], refresh vx.lock
  vx.lock
  vx.toml
Due: none

ci: drop the privileged pull_request_target trigger, restore hadolint/bun pins
  .github/workflows/vx-lock-guard.yml
  vx.lock
  vx.toml
Due: prettier

chore: pin runtime versions, drop default [settings], refresh vx.lock (#1166)
  .github/workflows/vx-lock-guard.yml
  vx.lock
  vx.toml
Due: prettier

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  cargo-check-tests: any of: \.rs$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

  prettier: any of: \.(yaml|yml)$, \.json$, but not: (?x)^(
  target/.*|
  node_modules/.*|
  vx-promo-video/.*|
  docs/node_modules/.*|
  .*\.lock
)$

